.delete{
    width:120px;
    height:50px;
    background: red;

}

.update{
    width:120px;
    height:50px;
    background: green;
}

.create{
    width:120px;
    height:50px;
    background: blue;
}