// Подключение библиотеки UPF
@import "../../../general/libs/upf/upf";

html,
body,
#wrap {
	height: 100%;
}

body > #wrap {
	height: auto;
	min-width: 360px;
	min-height: 100%;
	clear: both;
	& > #wrap-stop {
		height: $footer-height;
	}
}

body {
	background: 	$clr-grey-lighter;

	font-family: 	'Exo 2','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 	1.45;

	@include 		Font-Size(85%,90%,100%, 110%);
	@include 		Animation(FadeIn,0.6s);
}
.Node-Wrap {
	padding: $size 0;
	width: 100%;
	border-left: 0;
	border-right: 0;
	background-color: $clr-grey-light;
}
.Node {
	padding: 			$size-n;
	border:				1px solid $clr-grey-light;
	background-color: 	white;
	clear: 				both;

	@extend 			._Centered;
	@extend 			._Standalone;
	@extend 			._Section-Inner;
	@extend 			._Clearfix;
}

// Внутренние элементы нода отступают друг от друга
.Node + .Node-Wrap {
	margin-top: $section-gap;
}
.Node > * {
	margin-top: $size;
}
.Node.Row > * {
	margin-top: 0;
}

// Убирает отступ у первого элемента в ноде
.Node > *:first-child {
	margin-top: 0;
}

// Site Header.
// Main block with 100% width
.Site-Header {
	background: white;
	@include Animation(FadeIn,1s);
	@extend ._Clearfix;
	@extend ._Unselectable;
	@extend ._Soft_Shadow;
}

// Site Header inner block. Has the same width as content
.Site-Header-Inner {
	width:	90%;
	@extend ._Clearfix;
	@extend ._Centered;
	@extend ._Section-Inner;
	@extend ._Inline;
}
#Menu-Toggle {
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(../../../../img/techonline/icon-menu.png) center center no-repeat;
	@include Transition(background-image,.3s);
	&:hover {
		background: url(../../../../img/techonline/icon-menu-hover.png) center center no-repeat;
	}
}
.Site-Logo {
	display: block;
	position: relative;
	width:	100%;
	height: 80px;
	overflow: hidden;

	div {
		width: 100%;
		position: absolute;
		top: 20px;
		@include Transition(opacity, .5s);

		img.Logo-Img {
			display: block;
			float: left;
			margin-right: $size-s;
		}

		h2 {
			padding: $size-xs 0;
			color: $clr-main;
			font-size: 26px;
			font-weight: 100;
			text-transform: uppercase;

			small {
				display: inline;
				font-size: 16px;
				color: black;
			}
		}
	}
	& > a {
		z-index: 2;
		position: absolute;
		display: block;
		padding: $size-l;
		@include Transition(opacity, .5s);
		@include Opacity(0);

		&:hover {
			color: $clr-main;
			text-decoration: underline;
		}
	}
	&:hover > div {
		@include Opacity(0);
	}
	&:hover > a {
		@include Opacity(1);
	}
}
// Блок авторизации
.Page-Auth {
	position: relative;
	width: 100%;
	margin-bottom: $size;
	& > .Button {
		margin-top: 4px;
		float: left;
		width: 47.5%;
		font-size: 12px;
		padding: $size-xs 0;
		margin-left: 5%;
		&:first-child {
			margin-left: 0;
		}
	}

	.Sign-In-UI ,
	.Sign-Up-UI {
		position: absolute;
		padding: $size;
		background-color: white;
		top: 46px;
		right: 0;
		width: 400px;
		font-size: $Font-Size-Small;
		border-top: 4px solid $clr-main;
		z-index: 10;
		@include Round(all);
		@extend ._Soft_Shadow;
		@extend ._Unselectable;
		form {
			h4 {
				padding-bottom: $size-s;
				margin-bottom: $size;
				font-size: $Font-Size-Huge;
				border-bottom: 1px dashed $clr-grey;
			}
		}
	}
}
// Меню навигации по сайту
.Site-Navigation {
	display: none;
	width: 100%;
	text-align: right;
}
ul.Menu-List {
	@extend ._No-Bullets;
	@extend ._Clearfix;
	li {
		display: block;
		width: 100%;
		border-top: 1px solid $clr-grey-light;

		&:first-child {
			border-top: 0;
			margin-left: 0;
		}
	}
}
.Menu-Link {
	display: block;
	padding: $size-s 0;
	border-bottom: 3px solid transparent;

	font-size: $Font-Size-Large;
	color: #000;
	text-align: left;
	text-transform: uppercase;
	&.Link-Active ,
	&:hover       {
		background-color: $clr-grey-lighter;
	}

}
//
#Page-Slider {
	display: none;
	@include Animation(SlideDown,.5s);
	@extend ._Unselectable;
}
	.Slider-Inner {
		 @extend ._Clearfix;
		 @extend ._Section-Inner;
		 @extend ._Centered;
	}
		#Truck {
			@include Animation(SlideUp, 1s);
		}
		#Slider-Links {
			@include Animation(FadeIn,1.5s);
		}

.Autocomplete {
	width: 100%;
	padding: $size-s $size;
	border: 1px solid;
}

// Хлебные крошки
.Breadcrumbs {
	padding: $size-xs;
	margin-top: $size;
	background-color: $clr-grey-lighter;
	border: 1px solid $clr-grey-light;
	@include Round(all, $Control-Border-Radius);

	.Breadcrumb-List {
		@extend ._Inline;
		@extend ._No-Bullets;

		.Breadcrumb-Item {
			a    ,
			span {
				padding: $size-xs;
				font-size: 16px;
				line-height: 16px;
			}
			a:hover {
			}
			&:before {
				padding: 0 $size-s;
				content: "/";
				@extend ._Unselectable;
			}
		}

		.Breadcrumb-Item:first-child {
			&:before {
				padding: 0;
				content: "";
			}
		}
	}
}

// Блок Пагинации
.Pagination {
	border-left: 4px solid $clr-main;
	@extend ._Fly-Out;
	@extend ._No-Bullets;
	@extend .Inline;
	@extend ._Clearfix;
	& > li {
		margin-top: 0 !important; // Наследование .Node подразумевает margin-top каждого вложенного элемента. Убираем
		margin-right: 1px; // Разлипаем прямоугольники страниц
        float:left;
		& > span,
		& > a {
			color: #fff;
			display: block;
			padding: $size-s $size;
			background-color: $clr-grey-darker;
		}
		&:hover > span {
			cursor: default;
		}
		&:hover > a {
			background-color: $clr-grey-dark;
		}
		&.disabled > span {
			color: $clr-grey-dark;
		}
		&.active > span {
			background-color: $clr-main;
		}
		li.Pagination-Caption {

		}
	}
}

.Sidebar-Filter {
	a.Active {

		color: white;
		background-color: $clr-grey-darker;
	}
	& > h4 {
		font-size: 20px;
		font-weight: 100;
		margin-top: $size;
		padding: $size-xs $size-s;
		background: $clr-grey-darker;
		color: white;

		&:first-child {
			margin-top: 0;
		}
	}
	& > ul {
		font-family: $Font-Family-Calibri;
		& > li {
			border-top: 1px solid white;
			& > a {
				display: block;
				padding: $size-xs $size-s;
				font-size: 13px;
				font-weight: 900;
				color: black;
				background-color: $clr-grey-lighter;
				&:hover {
					background-color: $clr-grey;
				}
			}
			&:first-child a {
				border: 0;
			}
		}
	}
}

// Список категорий
.List-Categories {
	@extend ._Clearfix;
	li {
		padding: $size-s 0;
		@extend ._Clearfix;
		a {
			font-size: $Font-Size-Small;
			display: inline-block;
		}
	}
	&.Icons {
		a {
			padding: $size-s 0;
			font-size: $Font-Size-Default;
			width: 100%;
			text-align: center;
		}
		img {
			vertical-align: middle;
			display: block;
			height: 100px;
			margin: 0 auto;
		}

	}
	&.Brands {
		img {
			width: 50px;
		}
	}
}

// Блок комментариев
.Comment {
	.Comment-List {
		@extend ._No-Bullets;
		@extend ._Vertical-Spacing;
		li {
			&:first-child {
				margin-top: 0;
			}

			.Comment-List-Element-Rating {
				float: left;
				margin-right: $size-l;
				color: $clr-grey;
				& > span {
					display: block;
					margin: 0 auto;
					text-align: center;
				}
			}
			.Arrow {
				visibility: hidden;
				cursor: pointer;
				img {
					display: block;
				}
			}
			&:hover .Arrow {
				visibility: visible;

				.Positive {
					color: $clr-green;
				}
				.Negative {
					color: $clr-red;
				}
			}

			.Comment-List-Element-Content {
				overflow: hidden;

				header {
					@extend ._Clearfix;

					h5 {
						@extend ._Left;
					}

					small.Date {
						@extend ._Right;
						color: $clr-grey;
					}
				}
				p {
					width: 75%;
				}
			}
		}

	}
	& > form {
		margin-top: $size-xl;
	}
}

// Site Footer Block
footer[role='contentinfo'] {
	position: relative;
	height: $footer-height;

	background: white;
	border-top: 1px solid #e1e1e1;
	& > div {
		padding: $size-l 0;
		@extend ._Clearfix;
		@extend ._Centered;
		@extend ._Section-Inner;
		.Copyright {
			@extend ._Left;
		}
		.Footer-Navigation {
			@extend ._Right;
			width: 37%;
			ul {
				@extend ._No-Bullets;
				@extend ._Inline;
				li {
					margin-left: $size;
					a {
						color: black;
						padding-bottom: $size-xs;
						border-bottom: 2px solid transparent;
						&:hover {
							color: $clr-main;
							border-color: $clr-main;
						}
					}
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}
}
img.Footer-Img {
	display: none;
	position: absolute;
	bottom: $footer-height/2;
	right: $size;
	width: 200px;
}


.Filter-Regions {
	li {
		a {
			display: block;
			padding: $size-xs 0
		}
	}
}

.Filter-Categories {
	li {
		a {
			display: block;
			padding: $size-s 0;
		}
	}
}

// List of snippets like News, etc.
.List.Snippets {
	li.List-Item {
		border: 1px solid $clr-grey-light;
		margin-bottom: $size;
		header {
			border-bottom: 1px $clr-grey solid;
			padding-bottom: $size-s;
			background-color: $clr-grey-lighter;
			@extend ._Clearfix;
			h5.Title {
				margin: $size-n 0 $size-n $size-n;
				display: block;

				a {
					font-size: $Font-Size-Large;
					text-transform: uppercase;
				}
				.News-Date       ,
				.Seller-Location {
					display: block;
					clear: both;
					font-size: $Font-Size-Micro;
				}
			}

		}
		img {
			width: 100%;
		}
		.Description {
			margin: $size-n;
			font-size: 14px;

			& > div {
			}
		}
	}
}
.Snippet-List {
	@extend ._Vertical-Spacing;
	@extend ._No-Bullets;

	.Snippet-Item {
		@extend .Row;
		@extend .Merge;

		header {
			background-color: $clr-grey-lighter;
			.Item-Category ,
			.Item-Location {
				padding: 0;
			}
		}
	}
	.Item-Photo {
		@extend .Grid;
		@extend .XS-5;
	}
	.Item-Gallery {
		@extend .Grid;
		@extend .XS-5;
		& > img {
			width: 100%;
		}
	}
	.Item-Content {
		@extend .Grid;
		@extend .XS-7;
	}
}
.Snippet-Item {
	@extend ._Clearfix;
	@extend .Row;

	header {
		position: relative;
		margin-bottom: $size;
		@extend ._Clearfix;

		.Item-Title {
			margin: $size-n;
			display: inline-block;
			max-width: 50%;
			text-transform: uppercase;
			font-size: 20px;
			@extend ._Clearfix;
			@extend ._Left;

			a {
				display: block;
				color: $clr-main;
				&:hover {
					color: $clr-main;
				}
			}
			.Item-Category ,
			.Item-Location {
				float: left;
				text-transform: none;
				font-size: 12px;
				font-weight: 100;
				color: $clr-grey-dark;
			}
		}
		h4 				,
		.Section-Header {
			float: left;
		}

		.Item-Values {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			display: inline!important;
			width: 45%;
			color: white;
			float: right;
			background: linear-gradient(to left, $clr-main, $clr-main-lighter);

			@extend ._No-Bullets;
			@extend ._Inline;

			li {
				padding: $size-s $size-s;
				h6 {
					margin: 0;
					font-size: 12px;
					font-weight: 100;
				}
			}
		}
	}
	.Item-Gallery {
		padding: 0 $size-n $size-n;
		@extend ._Left;

		img.Item-Main-Photo {
			border-top: 2px solid $clr-main;
			@extend ._Fit-Row;
			@extend ._Highlight;
		}

		ul {
			@extend ._No-Bullets;
			@extend ._Inline;

			li {
				margin-top: -6px;
				width: 33.33%;

				&:first-child {
					margin-left: 0;
				}

				img {
					display: block;
					width: 100%;
					border-top: 2px solid $clr-main;
					@extend ._Highlight;
				}
			}
		}
	}

	.Item-Photo {
		margin-bottom: $size-l;
		padding-right: $size-l;
		@extend .Grid;
		@extend .XS-5;

		img {
			width: 100%;
		}
	}

	.Item-Content {
		padding: 0 $size-n $size-n;
		font-size: 14px;

		@extend .XS-7;

		h6 {
			margin: $size-s 0 $size-xs;
			font-size: 18px;
		}

		p {
			& + p {
				margin-top: $size-n;
			}
		}
		table {
			font-size: 14px;
			border-top: 1px solid $clr-grey-light;
			width: 100%;
			tr {
				td {
					padding: $size-xs 0;
				}
			}
		}
	}

	.Item-Info {
		clear: both;
		padding: $size-s 0;
		border-top: 1px dashed $clr-grey-dark;
		color: $clr-grey-dark;
		font-size: $Font-Size-Micro;
		.Date {
			padding: $size-xs 0;
			margin: 0 $size-l $size-s 0;
			@extend ._Left;
		}
		.Tags {
			@extend ._Left;
		}
	}
}
.Filter-Result {
	border: 1px solid $clr-grey-lighter;
	border-top: 2px solid $clr-main;
	width: 100%;
	padding: $size-s;
	font-size: 80%;
	@extend ._No-Bullets;
	li {
		padding: $size-xs 0;
		@extend ._Clearfix;
		span {
			font-weight: bold;
		}
		.Delete {
			display: inline-block;
			margin-left: $size-s;
			padding: $size-xs;
			background-color: $clr-main;
			color: white;
			@include Round(all, $Control-Border-Radius);
			@extend ._Right;
			&:hover {
				background-color: $clr-grey-darker;
			}
		}
	}

}

ul.Tag-List {
	@extend ._Clearfix;
	@extend ._Inline;
	@extend ._No-Bullets;

	li.Tag-Item {
		margin-right: $size-s;
		margin-bottom: $size-s;
		a {
			display: inline-block;
			padding: $size-xs $size-s;
			border: 1px solid $clr-grey-dark;
			background-color: $clr-grey;
			color: white;
			font-size: 12px;

			@include Round(all, $Control-Border-Radius);
			&:hover {
				background-color: $clr-grey-dark;
			}
		}
	}
}
.Vote {
	@extend ._Inline;
	@extend ._No-Bullets;
	display: block;
	width: 100%;
	clear: both;
	margin-top: $size-s;
	margin-left: $size-n;
	& > li {
		@extend ._Clearfix;
		& > a {
			display: block;
			width: 30px;
			height: 30px;
			border: 1px solid $clr-grey-light;
			&:hover {
				background-color: $clr-grey-darker;
				border-color: black;
			}
		}
		& > span {
			text-align: center;
			padding-top: 3px;
			border-top: 1px solid $clr-grey-light;
			border-bottom: 1px solid $clr-grey-light;
			display: block;
			width: 30px;
			height: 30px;
			color: $clr-grey;
			font-size: 14px;
		}
	}
}

.Vote-Up {
	background: url(../../../../img/techonline/icon-vote-up.png) center center no-repeat;
}
.Vote-Down {
	background: url(../../../../img/techonline/icon-vote-down.png) center center no-repeat;
}
.List-Filter {
	@extend ._No-Bullets;
}
li.List-Filter-Subheader {
	background-color: $clr-grey-light;
	@extend ._Clearfix;
	div {
		text-align: center;
		width: 15%;
		float: left;
		span {
			padding: $size-xs $size-xs 2px;
			display: block;
			vertical-align: middle;
			text-shadow: 1px 1px 1px white;
			font-weight: bold;
			color: $clr-grey-darker;
			font-size: 14px;
			cursor: pointer;
		}
		span:hover {
			color: $clr-main;
		}
	}

	a {
		font-size: 1em;
		font-weight: 100;
		width: 85%;
		float: right;
	}
}

li.List-Filter-Subcategory {
	ul {
		@extend ._No-Bullets;
		li {
			border-top: 1px white solid;
			a {
				color: black;
				width: 100%;
				background-color: $clr-grey-lighter;
				display: block;
				padding: $size-s;
				font-size: .9em;
				&:hover {
					background-color: $clr-grey-light;
				}
			}

			&:first-child {
				border-top: 0;
			}
		}
	}
}
.Menu-List {

	ul {
		@extend ._No-Bullets;

		li {
			padding: $size-s 0;
		}
	}
}

#Scroll-Top {
	position: fixed;
	top: $size;
	left: $size;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../../../../img/techonline/icon-scroll-top.png) no-repeat;
	display: none;
	@include Transition(background,.3s);
	&:hover {
		background: url(../../../../img/techonline/icon-scroll-top-hover.png) no-repeat;
	}
}

.Filter.Accordion {
	margin-top: $size;

	@extend ._No-Bullets;
	.Filter-Subheader {
		border-top: 1px solid $clr-grey;
        clear:both;
		@extend ._Clearfix;
		& > div {
			float: left;
			width: 10%;
			text-align: center;
			background-color: $clr-grey-dark;
			span {
				color: white;
				display: block;
				width: 100%;
				padding: $size-s 0;
				line-height: $line-height;
				background-color: $clr-grey-darker;
				font-size: 16px;
				font-weight: bold;
				cursor: pointer;
				&:hover {
					color: $clr-main;
				}
			}
		}
		& > a {
			float: right;
			width: 90%;
			color: black;
			background-color: $clr-grey-lighter;
			line-height: $line-height;
			font-size: 16px;
			display: block;
			padding: $size-s $size-l;
		}
	}
}
.Filter-Subcategory {
	background: $clr-grey-lighter;
	display: none;

	ul {
		@extend ._No-Bullets;
		.Filter-Cities {
			display: none;
		}

		li {
			border-top: 1px solid $clr-grey;
			display: inline-block;
			width: 100%;

			a {
				display: block;
				padding: $size-xs $size-l;
				color: black;
				&:hover {
					background-color: $clr-grey-light;
				}
			}
		}
	}
}

.List-Group-Actions {
	margin-top: $size;
	border-top: 2px solid $clr-main;
	background-color: $clr-grey-lighter;

	@extend ._No-Bullets;
	@extend ._Inline;
	@extend .Row;
	@extend .Merge;
}
.Item-Group-Actions {
	border-left: 1px solid white;
	width: 100%;
	@extend .Grid;
	@extend .XS-4;

	.Control-Group,
	a {
		display: block;
		padding: $size-s $size-l;
		font-weight: bold;
		font-size: 80%;
		color: $clr-grey-darker;
		&:hover {
			background-color: $clr-grey-darker;
			color: white;
		}
		&.Icon {
			background-position: $size-s center;
			background-repeat: no-repeat;
			&.Back {
				background-image: url(../../../../img/techonline/icon-backward.png);
			}
		}
	}
	&:first-child {
		border: 0;
	}
}





.List-Params {
	margin-top: $size;
	@extend .Row;
	@extend .Merge;

	li {
		@extend .Grid;
		@extend .XS-6;
		@extend .LR-4;

		.Control-Group,
		a {
			display: block;
			padding: $size-s $size-l;
			color: black!important;

			&:hover {
				background-color: $clr-grey-lighter;
			}
		}
	}
}
// todo: разнести по местам
.ui-widget-header{
  background-color: $clr-main;
}
.Accordion-Subcategory{
  display:none;
}

@include Keyframes(FadeIn) {
	from {
		@include Opacity(0);
	}
	to {
		@include Opacity(1);
	}
}
@include Keyframes(SlideUp) {
	from {
		@include Opacity(0);
		top: 300px;
	}
	to {
		@include Opacity(1);
		top: 0;
	}
}
@include Keyframes(SlideDown) {
	from {
		max-height: 1px;
	}
	to {
		max-height: 350px;
	}
}

// Подключение файла Media Queries
@import 'media';