// Подключение библиотеки UPF
@import "../../../general/libs/upf/upf";

body {
	min-width: 320px;

	background-color: #ecf0f1;
	font-family: 	'Exo 2','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 	1.45;

	@include 		Font-Size(90%,100%,100%, 100%);
	@include 		Animation(FadeIn,0.6s);
}


// PAGE HEADER
@import "-header";

.Autocomplete {
	width: 100%;
	padding: $size-s $size;
	border: 1px solid;
}

// Хлебные крошки
.Breadcrumbs {
	padding: $size-xs;
	margin-top: $size;
	background-color: $Clr-Clouds;
	@include Round(all, $Control-Border-Radius);

	.Breadcrumb-List {
		@extend ._Inline;
		@extend ._No-Bullets;

		.Breadcrumb-Item {
			a {
				padding: $size-xs;
				font-size: 16px;
				line-height: 16px;
				color: $Clr-Asbestos;
			}
			a:hover {
				color: $Clr-Midnight-Blue;
			}
			&:before {
				padding: 0 $size-s;
				content: "/";
				@extend ._Unselectable;
			}
		}

		.Breadcrumb-Item:first-child {
			&:before {
				padding: 0;
				content: "";
			}
		}
	}
}

// Блок Пагинации
.Pagination {
	border-left: 4px solid $clr-main;
	@extend ._Fly-Out;
	@extend ._No-Bullets;
	@extend .Inline;
	@extend ._Clearfix;
	& > li {
		margin-top: 0 !important; // Наследование .Node подразумевает margin-top каждого вложенного элемента. Убираем
		margin-right: 1px; // Разлипаем прямоугольники страниц
        float:left;
		& > span,
		& > a {
			color: #fff;
			display: block;
			padding: $size-s $size;
			background-color: $clr-grey-darker;
		}
		&:hover > span {
			cursor: default;
		}
		&:hover > a {
			background-color: $clr-grey-dark;
		}
		&.disabled > span {
			color: $clr-grey-dark;
		}
		&.active > span {
			background-color: $clr-main;
		}
		li.Pagination-Caption {

		}
	}
}

.Sidebar-Filter {
	a.Active {

		color: white;
		background-color: $clr-grey-darker;
	}
	& > h4 {
		font-size: 20px;
		font-weight: 100;
		margin-top: $size;
		padding: $size-xs $size-s;
		background: $clr-grey-darker;
		color: white;

		&:first-child {
			margin-top: 0;
		}
	}
	& > ul {
		font-family: $Font-Family-Calibri;
		& > li {
			border-top: 1px solid white;
			& > a {
				display: block;
				padding: $size-xs $size-s;
				font-size: 13px;
				font-weight: 900;
				color: black;
				background-color: $clr-grey-lighter;
				&:hover {
					background-color: $clr-grey;
					background-color: $clr-grey;
				}
			}
			&:first-child a {
				border: 0;
			}
		}
	}
}

// Список категорий
.List-Categories {
	@extend ._Clearfix;
	li {
		padding: $size-s 0;
		@extend ._Clearfix;
		a {
			font-size: $Font-Size-Small;
			display: inline-block;
		}
	}
	&.Icons {
		a {
			padding: $size-s 0;
			font-size: $Font-Size-Default;
			width: 100%;
			text-align: center;
		}
		img {
			vertical-align: middle;
			display: block;
			height: 100px;
			margin: 0 auto;
		}

	}
	&.Brands {
		img {
			width: 50px;
		}
	}
}

// Блок комментариев
.Comment-List {
	@extend ._No-Bullets;
	@extend ._Vertical-Spacing;
	.Comment-Item {
		&:first-child {
			margin-top: 0;
		}
		.Item-Vote {
			position: relative;
		}
		.Item-Content {
			overflow: hidden;

			header {
				@extend ._Clearfix;

				h5 {
					.Date {
						margin-left: $size-l;
						display: inline-block;
						font-size: 80%;
						color: $clr-grey;
					}
				}
			}
			p {
				width: 75%;
			}
		}
	}
}


// Site Footer Block
footer[role='contentinfo'] {
	position: relative;
	height: $Page-Footer-Height;
	background: white;
	border-top: 1px solid #e1e1e1;
	& > div {
		padding: $size-l 0;
		@extend ._Clearfix;
		@extend ._Centered;
		@extend ._Section-Inner;
		.Copyright {
			@extend ._Left;
		}
		.Footer-Navigation {
			@extend ._Right;
			width: 37%;
			ul {
				@extend ._No-Bullets;
				@extend ._Inline;
				li {
					margin-left: $size;
					a {
						color: black;
						padding-bottom: $size-xs;
						border-bottom: 2px solid transparent;
						&:hover {
							color: $clr-main;
							border-color: $clr-main;
						}
					}
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}
}
img.Footer-Img {
	display: none;
	position: absolute;
	bottom: $Page-Footer-Height/2;
	right: $size;
	width: 200px;
}


.Filter-Regions {
	li {
		a {
			display: block;
			padding: $size-xs 0
		}
	}
}

.Filter-Categories {
	li {
		a {
			display: block;
			padding: $size-s 0;
		}
	}
}

// List of snippets like News, etc.
.List.Snippets {
	li.List-Item {
		border: 1px solid $Clr-Clouds;
		margin-bottom: $size;
		header {
			padding-bottom: $size-s;
			background-color: $Clr-Clouds;
			@extend ._Clearfix;
			h5.Item-Title {
				margin: $size-n 100px $size-n $size-n;
				display: block;

				a {
					font-size: $Font-Size-Large;
					text-transform: uppercase;
				}
			}

		}
		img {
			width: 100%;
		}
		.Description {
			margin: $size-n;
			font-size: 14px;

			& > div {
			}
		}
	}
}
.Item-Subtitle {
	display: block;
	clear: both;
	font-size: 12px;
}

// Only for LIST of Snippets
.Snippet-List {
	@extend ._Vertical-Spacing;
	@extend ._No-Bullets;

	.Snippet-Item {
		@extend .Row;
		@extend .Merge;

		header {
			position: relative;
			background-color: $clr-grey-lighter;
			.Item-Category ,
			.Item-Location {
				padding: 0;
			}
		}
		footer {
			padding: 0 $size-n $size-n;
			width: 100%;
			clear: both;
			@extend ._Clearfix;
		}
	}
	.Item-Photo {
		@extend .XS-5;
	}
	.Item-Gallery {
		@extend ._Clearfix;
		@extend .XS-5;
		& > img {
			width: 100%;
		}
	}
	.Item-Content {
		margin-top: $size-n;
		@extend .XS-7;
	}
}

.Snippet-Item {
	@extend ._Clearfix;
	@extend .Row;

	header {
		position: relative;
		margin-bottom: $size;
		@extend ._Clearfix;

		.Item-Title {
			margin: $size-n;
			display: inline-block;
			max-width: 50%;
			text-transform: uppercase;
			font-size: 20px;
			@extend ._Clearfix;
			@extend ._Left;

			a {
				display: block;
				color: black;
				&:hover {
					color: $clr-main;
				}
			}
			.Item-Category ,
			.Item-Location {
				float: left;
				text-transform: none;
				font-size: 12px;
				font-weight: 100;
				color: $clr-grey-dark;
			}
		}
		h4 				,
		.Section-Header {
			float: left;
		}

		.Item-Values {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			display: table;
			width: 45%;
			float: right;

			@extend ._No-Bullets;
			@extend ._Inline;
			@extend .Row;

			li {
				padding: $size-n $size-s;
				h6 {
					margin: 0;
					font-size: 12px;
					font-weight: 100;
				}
			}
		}
	}
	.Item-Gallery {
		@extend ._Clearfix;

		img.Item-Main-Photo {
			border-top: 2px solid $clr-main;
			@extend ._Fit-Row;
			@extend ._Highlight;
		}

		ul {
			@extend ._No-Bullets;
			@extend ._Inline;

			li {
				margin-top: -6px;
				width: 33.33%;

				&:first-child {
					margin-left: 0;
				}

				img {
					display: block;
					width: 100%;
					border-top: 2px solid $clr-main;
					@extend ._Highlight;
				}
			}
		}
	}

	.Item-Photo {
		margin-bottom: $size-l;
		padding-right: $size-l;
		@extend .XS-5;

		img {
			width: 100%;
		}
	}

	.Item-Content {
		font-size: 14px;

		@extend .XS-7;

		h6 {
			margin: $size-s 0 $size-xs;
			font-size: 18px;
		}

		p {
			& + p {
				margin-top: $size-n;
			}
		}
		table {
			font-size: 14px;
			border-top: 1px solid $clr-grey-light;
			width: 100%;
			tr {
				td {
					padding: $size-xs 0;
				}
			}
		}
	}

	.Item-Info {
		clear: both;
		padding: $size-s 0;
		border-top: 1px dashed $clr-grey-dark;
		color: $clr-grey-dark;
		font-size: $Font-Size-Micro;
		.Date {
			padding: $size-xs 0;
			margin: 0 $size-l $size-s 0;
			@extend ._Left;
		}
		.Tags {
			@extend ._Left;
		}
	}
}
.Filter-Result {
	border: 1px solid $clr-grey-lighter;
	border-top-color: $clr-main;
	width: 100%;
	padding: $size-s;
	font-size: 80%;
	@extend ._Right;
	@extend ._No-Bullets;
	@include Animation(FadeIn,1s);
	li {
		padding: $size-xs 0;
		@extend ._Clearfix;
		span {
			font-weight: bold;
		}
		.Delete {
			display: inline-block;
			margin-left: $size-s;
			padding: $size-xs;
			background-color: $clr-main;
			color: white;
			@include Round(all, $Control-Border-Radius);
			@extend ._Right;
			&:hover {
				background-color: $clr-grey-darker;
			}
		}
	}

}

ul.Tag-List {
	@extend ._Clearfix;
	@extend ._Inline;
	@extend ._No-Bullets;

	li.Tag-Item {
		margin-right: $size-xs;
		margin-bottom: $size-xs;
		a {
			display: inline-block;
			padding: $size-xs;
			background-color: $clr-grey;
			color: $clr-grey-darker;
			font-family: $Font-Family-Calibri;
			font-size: 12px;

			@include Round(all, $Control-Border-Radius);
			&:hover {
				color: white;
				background-color: $clr-grey-dark;
			}
		}
	}
}
.Vote {
	@extend ._Inline;
	@extend ._No-Bullets;
	display: block;
	width: 100%;
	clear: both;
	margin-top: $size-s;
	margin-left: $size-n;
	& > li {
		@extend ._Clearfix;
		& > a {
			display: block;
			width: 30px;
			height: 30px;
			border: 1px solid $Clr-Silver;
			&:hover {
				background-color: $clr-main;
				border-color: $clr-main-dark;
			}
		}
		& > span {
			text-align: center;
			padding-top: 3px;
			border-top: 1px solid $Clr-Silver;
			border-bottom: 1px solid $Clr-Silver;
			display: block;
			width: 30px;
			height: 30px;
			color: $Clr-Silver;
			font-size: 14px;
		}
	}
}

.Vote-Up {
	background: url(../../../../img/techonline/icon-vote-up.png) center center no-repeat;
}
.Vote-Down {
	background: url(../../../../img/techonline/icon-vote-down.png) center center no-repeat;
}
.List-Filter {
	@extend ._No-Bullets;
}

.Menu-List {

	ul {
		@extend ._No-Bullets;

		li {
			padding: $size-s 0;
		}
	}
}

#Scroll-Top {
	position: fixed;
	top: $size;
	left: $size;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../../../../img/techonline/icon-scroll-top.png) no-repeat;
	display: none;
	@include Transition(background,.3s);
	&:hover {
		background: url(../../../../img/techonline/icon-scroll-top-hover.png) no-repeat;
	}
}

.Filter.Accordion {
	margin-top: $size;

	@extend ._No-Bullets;
	.Filter-Subheader {
		margin-top: 1px;
		background-color: $Clr-Clouds;
        clear:both;
		@extend ._Clearfix;

		& > div {
			float: left;
			width: 10%;
			text-align: center;

			span {
				color: white;
				display: block;
				width: 100%;
				padding: $size-s 0;
				line-height: $line-height;
				background-color: $clr-main;
				font-size: 16px;
				font-weight: bold;
				cursor: pointer;

				&:hover {
					color: white;
					background-color: $clr-main-dark;
				}
			}
		}
		& > a {
			float: right;
			width: 90%;
			color: $Clr-Midnight-Blue;
			background-color: $Clr-Clouds;
			line-height: $line-height;
			font-size: 16px;
			display: block;
			padding: $size-s $size-l;
		}
	}
}
.Filter-Subcategory {
	margin: $size-xs 0;
	display: none;

	ul {
		border-top: 0;
		@extend ._Clearfix;
		@extend ._No-Bullets;
		.Filter-Cities {
			display: none;
		}

		li {
			border-top: 1px solid $clr-grey-lighter;
			display: inline-block;
			width: 100%;

			a {
				display: block;
				padding: $size-xs $size-l;
				color: black;
				&:hover {
					background-color: $clr-grey-light;
				}
			}
		}
	}
}

.List-Group-Actions {
	margin-top: $size;
	border-top: 2px solid $clr-main;
	background-color: $clr-grey-lighter;

	@extend ._No-Bullets;
	@extend ._Inline;
	@extend .Row;
	@extend .Merge;
}
.Item-Group-Actions {
	border-left: 1px solid white;
	width: 100%;
	@extend .XS-4;
	.Control-Group,
	a {
		display: block;
		padding: $size-s $size-l;
		font-weight: bold;
		font-size: 80%;
		color: $clr-grey-darker;
		&:hover {
			background-color: $Clr-Midnight-Blue;
			color: white;
		}
		&.Icon {
			background-position: $size-s center;
			background-repeat: no-repeat;
			&.Back {
				background-image: url(../../../../img/techonline/icon-backward.png);
			}
		}
	}
	&:first-child {
		border: 0;
	}
}
.Spoiler {
	margin-top: $size-n;
	border: 1px solid $clr-grey;
	@include Round(all, $Control-Border-Radius);
	&:hover {
		border-color: $clr-grey-dark;
	}

	.Spoiler-Caption {
		display: block;
		color: $clr-grey-darker;
		padding: $size-s $size-s $size-s $size-l;
		background: url(../../../../img/techonline/icon-vote-down.png) 15px center no-repeat;
	}
	.Spoiler-Content {
		display: none;
		@include Animation(SlideDown,.8s);
		li {
			@include Animation(FadeIn,.5s);
		}
	}
}


.List-Params {
	margin-top: $size;
	@extend .Row;
	@extend .Merge;

	li.List-Params-Item {

		.Control-Group,
		a {
			display: block;
			padding: $size-s $size-l;
			color: black!important;

			&:hover {
				background-color: $clr-grey-lighter;
			}
		}
	}
}
// todo: разнести по местам
.ui-widget-header{
  background-color: $clr-main;
}
.Accordion-Subcategory {
  display:none;
}

@include Keyframes(FadeIn) {
	from {
		@include Opacity(0);
	}
	to {
		@include Opacity(1);
	}
}
@include Keyframes(SlideUp) {
	from {
		@include Opacity(0);
		top: 300px;
	}
	to {
		@include Opacity(1);
		top: 0;
	}
}
@include Keyframes(SlideDown) {
	from {
		max-height: 1px;
	}
	to {
		max-height: 350px;
	}
}

// Подключение файла Media Queries
@import 'media';