@charset "UTF-8";
@import url(normalize.css);
._Centered, .Node, .Page-Header .Page-Header-Inner, .Page-Slider .Slider-Inner, footer[role='contentinfo'] > div {
  margin-left: auto;
  margin-right: auto; }

._Standalone, .Node {
  margin-top: 50px; }
  ._Standalone:first-child, .Node:first-child {
    margin-top: 0; }

._Vertical-Spacing > *, .Page-Slider .Slider-Inner .Slider-Links > *, .Comment .Comment-List > *, .Snippet-List > * {
  margin-top: 30px !important; }
  ._Vertical-Spacing > *:first-child, .Page-Slider .Slider-Inner .Slider-Links > *:first-child, .Comment .Comment-List > *:first-child, .Snippet-List > *:first-child {
    margin-top: 0 !important; }

._Section-Inner, .Node, .Page-Header .Page-Header-Inner, .Page-Slider .Slider-Inner, footer[role='contentinfo'] > div {
  width: 1000px !important; }

._Icon-Spacing {
  margin-right: 20px; }

._Left, .Comment .Comment-List li .Comment-List-Element-Content header h5, footer[role='contentinfo'] > div .Copyright, .Snippet-Item header .Item-Title, .Snippet-Item .Item-Gallery, .Snippet-Item .Item-Photo, .Snippet-Item .Item-Info .Date, .Snippet-Item .Item-Info .Tags {
  float: left; }

._Right, .Control-Group.Offset input[type='submit'],
.Control-Group.Offset button.Button, .Comment .Comment-List li .Comment-List-Element-Content header small.Date, footer[role='contentinfo'] > div .Footer-Navigation, .Snippet-Item .Item-Content {
  float: right; }

._Dev {
  outline: 1px red solid !important; }

._Clearfix:before, ._Inline:before, .Page-Header .Page-Header-Inner:before, .Breadcrumbs .Breadcrumb-List:before, footer[role='contentinfo'] > div .Footer-Navigation ul:before, .Snippet-Item header .Item-Values:before, .Snippet-Item .Item-Gallery ul:before, ul.Tag-List:before, .Row:before, .Control-Group:before, .Control-Group.Smart:before, .Control-Group.Smart .Input-Smart:before, dl.Tabs:before, .Node:before, .Page-Header:before, .Page-Navigation ul:before, .Page-Slider .Slider-Inner:before, .Pagination:before, .List-Categories:before, .List-Categories li:before, .Comment .Comment-List li .Comment-List-Element-Content header:before, footer[role='contentinfo'] > div:before, .News-List li.News-Item header:before,
.News-List li.Seller-Item header:before,
.Seller-List li.News-Item header:before,
.Seller-List li.Seller-Item header:before, .Snippet-Item:before, .Snippet-Item header:before, .Snippet-Item header .Item-Title:before, .List-Filter li.List-Filter-Subheader:before,
._Clearfix:after,
._Inline:after,
.Page-Header .Page-Header-Inner:after,
.Breadcrumbs .Breadcrumb-List:after,
footer[role='contentinfo'] > div .Footer-Navigation ul:after,
.Snippet-Item header .Item-Values:after,
.Snippet-Item .Item-Gallery ul:after,
ul.Tag-List:after,
.Row:after,
.Control-Group:after,
.Control-Group.Smart:after,
.Control-Group.Smart .Input-Smart:after,
dl.Tabs:after,
.Node:after,
.Page-Header:after,
.Page-Navigation ul:after,
.Page-Slider .Slider-Inner:after,
.Pagination:after,
.List-Categories:after,
.List-Categories li:after,
.Comment .Comment-List li .Comment-List-Element-Content header:after,
footer[role='contentinfo'] > div:after,
.News-List li.News-Item header:after,
.News-List li.Seller-Item header:after,
.Seller-List li.News-Item header:after,
.Seller-List li.Seller-Item header:after,
.Snippet-Item:after,
.Snippet-Item header:after,
.Snippet-Item header .Item-Title:after,
.List-Filter li.List-Filter-Subheader:after {
  content: " ";
  display: table; }

._Clearfix:after, ._Inline:after, .Page-Header .Page-Header-Inner:after, .Breadcrumbs .Breadcrumb-List:after, footer[role='contentinfo'] > div .Footer-Navigation ul:after, .Snippet-Item header .Item-Values:after, .Snippet-Item .Item-Gallery ul:after, ul.Tag-List:after, .Row:after, .Control-Group:after, .Control-Group.Smart:after, .Control-Group.Smart .Input-Smart:after, dl.Tabs:after, .Node:after, .Page-Header:after, .Page-Navigation ul:after, .Page-Slider .Slider-Inner:after, .Pagination:after, .List-Categories:after, .List-Categories li:after, .Comment .Comment-List li .Comment-List-Element-Content header:after, footer[role='contentinfo'] > div:after, .News-List li.News-Item header:after,
.News-List li.Seller-Item header:after,
.Seller-List li.News-Item header:after,
.Seller-List li.Seller-Item header:after, .Snippet-Item:after, .Snippet-Item header:after, .Snippet-Item header .Item-Title:after, .List-Filter li.List-Filter-Subheader:after {
  clear: both; }

._Inline > *, .Page-Header .Page-Header-Inner > *, .Breadcrumbs .Breadcrumb-List > *, footer[role='contentinfo'] > div .Footer-Navigation ul > *, .Snippet-Item header .Item-Values > *, .Snippet-Item .Item-Gallery ul > *, ul.Tag-List > * {
  float: left; }

._No-Bullets, .One,
.Two,
.Three,
.Four,
.Five,
.Six,
.Control-Group.Checkbox.Submit > label,
.Control-Group.Checkbox.Submit > [type='submit'],
.Seven,
.Snippet-Item .Item-Content,
.Eight,
.Nine,
.Ten,
.Eleven,
.Twelve, .Page-Slider .Slider-Inner .Slider-Links, .Breadcrumbs .Breadcrumb-List, .Pagination, .Comment .Comment-List, footer[role='contentinfo'] > div .Footer-Navigation ul, .Snippet-List, .Snippet-Item header .Item-Values, .Snippet-Item .Item-Gallery ul, ul.Tag-List, .Menu-List ul {
  list-style: none; }

._Soft_Shadow, .Page-Header, .Page-Header .Page-Header-Inner .Page-Auth .Sign-In-UI,
.Page-Header .Page-Header-Inner .Page-Auth .Sign-Up-UI {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); }

._Fly-Out, .Section-Header,
.Section-Subheader, .Pagination {
  margin-left: -50px; }

._Button, input[type='submit'], button.Button,
input.Button,
a.Button {
  padding: 15px 20px;
  border: 0 !important;
  background-color: #ec6700;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  ._Button:hover, input[type='submit']:hover, button.Button:hover,
  input.Button:hover,
  a.Button:hover {
    background-color: #555555; }

._Fit-Row, .Snippet-Item .Item-Gallery img.Item-Main-Photo {
  width: 100%; }

._Highlight, .Snippet-Item .Item-Gallery img.Item-Main-Photo, .Snippet-Item .Item-Gallery ul li img {
  cursor: pointer; }
  ._Highlight:hover, .Snippet-Item .Item-Gallery img.Item-Main-Photo:hover, .Snippet-Item .Item-Gallery ul li img:hover {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }

._Search, button.Button.Search,
input.Button.Search,
a.Button.Search {
  border-radius: 30px; }

._Unselectable, .Section-Header,
.Section-Subheader, .Page-Header, .Page-Header .Page-Header-Inner .Page-Auth .Sign-In-UI,
.Page-Header .Page-Header-Inner .Page-Auth .Sign-Up-UI, .Page-Slider, .Breadcrumbs .Breadcrumb-List .Breadcrumb-Item:before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Android Fix */ }

a img {
  border: 0; }

body {
  font-size: 100%;
  font-family: sans-serif; }

article,
section,
nav,
aside {
  display: block; }

iframe {
  display: block; }

.Row {
  display: block; }

.Row.Split > * {
  margin-left: 1%;
  margin-right: 1%; }

.One,
.Two,
.Three,
.Four,
.Five,
.Six,
.Control-Group.Checkbox.Submit > label,
.Control-Group.Checkbox.Submit > [type='submit'],
.Seven,
.Snippet-Item .Item-Content,
.Eight,
.Nine,
.Ten,
.Eleven,
.Twelve {
  float: left; }
  .One.End,
  .Two.End,
  .Three.End,
  .Four.End,
  .Five.End,
  .Six.End,
  .Control-Group.Checkbox.Submit > label.End,
  .Control-Group.Checkbox.Submit > .End[type='submit'],
  .Seven.End,
  .Snippet-Item .End.Item-Content,
  .Eight.End,
  .Nine.End,
  .Ten.End,
  .Eleven.End,
  .Twelve.End {
    float: right; }

.Row.Merge > .One {
  width: 8.33333%; }

.Row.Merge > .Two {
  width: 16.66667%; }

.Row.Merge > .Three {
  width: 25%; }

.Row.Merge > .Four {
  width: 33.33333%; }

.Row.Merge > .Five {
  width: 41.66667%; }

.Row.Merge > .Six, .Control-Group.Checkbox.Submit.Row.Merge > label, .Control-Group.Checkbox.Submit.Row.Merge > [type='submit'] {
  width: 50%; }

.Row.Merge > .Seven, .Snippet-Item .Row.Merge > .Item-Content {
  width: 58.33333%; }

.Row.Merge > .Eight {
  width: 66.66667%; }

.Row.Merge > .Nine {
  width: 75%; }

.Row.Merge > .Ten {
  width: 83.33333%; }

.Row.Merge > .Eleven {
  width: 91.66667%; }

.Row.Merge > .Twelve {
  width: 100%; }

.Row.Split > .One {
  width: 6.33333%; }

.Row.Split > .Two {
  width: 14.66667%; }

.Row.Split > .Three {
  width: 23%; }

.Row.Split > .Four {
  width: 31.33333%; }

.Row.Split > .Five {
  width: 39.66667%; }

.Row.Split > .Six, .Control-Group.Checkbox.Submit.Row.Split > label, .Control-Group.Checkbox.Submit.Row.Split > [type='submit'] {
  width: 48%; }

.Row.Split > .Seven, .Snippet-Item .Row.Split > .Item-Content {
  width: 56.33333%; }

.Row.Split > .Eight {
  width: 64.66667%; }

.Row.Split > .Nine {
  width: 73%; }

.Row.Split > .Ten {
  width: 81.33333%; }

.Row.Split > .Eleven {
  width: 89.66667%; }

.Row.Split > .Twelve {
  width: 98%; }

.Push-One {
  margin-left: 10.33333%; }

.Push-Two {
  margin-left: 18.66667%; }

.Push-Three {
  margin-left: 27%; }

.Push-Four {
  margin-left: 35.33333%; }

.Push-Five {
  margin-left: 43.66667%; }

.Push-Six {
  margin-left: 52%; }

.Push-Seven {
  margin-left: 60.33333%; }

.Push-Eight {
  margin-left: 68.66667%; }

.Push-Nine {
  margin-left: 77%; }

.Push-Ten {
  margin-left: 85.33333%; }

.Push-Eleven {
  margin-left: 93.66667%; }

body {
  font-size: 1em;
  line-height: 1.45; }

*::selection {
  color: white;
  background-color: #999999; }

a:link,
a:visited {
  color: #ec6700;
  text-decoration: none;
  -webkit-transition-property: color, background, border;
  -moz-transition-property: color, background, border;
  transition-property: color, background, border;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

a:hover {
  color: #555555; }

a:active {
  color: #ec6700; }

hr {
  height: 1px;
  border: 0;
  border-bottom: 1px solid #dedede;
  color: #dedede; }

code {
  background-color: #dedede;
  border-left: 20px solid #cccccc;
  font-family: "Courier New", monospace;
  display: block;
  padding: 10px 20px; }
  code.Inline, code.Pagination {
    display: inline-block; }

.Section-Header.Ribbon {
  background-color: #00bff3;
  color: #fff;
  position: relative;
  display: block;
  height: 50px;
  margin: -30px -50px 0; }

.Node header.Ribbon h3 {
  padding: 10px 30px 0; }

.Section-Header.Ribbon:after,
.Section-Header.Ribbon:before {
  content: ' ';
  position: absolute;
  display: block;
  border: 15px solid #a34b00;
  border-bottom-color: transparent;
  top: 50px;
  z-index: 1; }

.Section-Header.Ribbon:before {
  border-left-color: transparent;
  left: 0; }

.Section-Header.Ribbon:after {
  border-right-color: transparent;
  right: 0; }

.Inline > li, .Page-Navigation ul > li, .Pagination > li {
  float: left; }

.No-Bullets, .Page-Navigation ul, .List-Filter, .List-Filter li.List-Filter-Subcategory ul {
  list-style: none; }

.Control-Group {
  margin-top: 10px;
  width: 100%; }
  .Control-Group:first-child {
    margin-top: 0; }
  .Control-Group input,
  .Control-Group select {
    font-weight: 900; }
  .Control-Group textarea {
    font-family: Helvetica, Verdana, sans-serif !important;
    resize: vertical; }
  .Control-Group input[type='submit'] + input[type='submit'] {
    margin-left: 15px; }
  .Control-Group + .Control-Group {
    margin-top: 20px; }
  .Control-Group:first-child {
    margin-top: 0; }
  .Control-Group.Offset {
    padding-top: 20px;
    border-top: 1px dashed #cccccc; }
    .Control-Group.Offset input[type='submit'],
    .Control-Group.Offset button.Button {
      display: inline-block;
      width: auto;
      padding: 10px 20px; }
  .Control-Group.Checkbox.Submit > label {
    padding: 10px 0; }
  .Control-Group.Smart .Input-Smart {
    width: 70%; }
    .Control-Group.Smart .Input-Smart .Prefix,
    .Control-Group.Smart .Input-Smart .Postfix {
      float: left;
      padding: 5px 10px;
      background-color: #f1f1f1;
      line-height: 24px;
      font-size: 14px;
      text-align: center; }
    .Control-Group.Smart .Input-Smart .Prefix {
      border: 1px solid #cccccc;
      border-right-width: 0; }
    .Control-Group.Smart .Input-Smart input,
    .Control-Group.Smart .Input-Smart select,
    .Control-Group.Smart .Input-Smart textarea {
      float: left; }

label.Control-Group {
  float: none !important; }

.Form-Vertical .Control-Group {
  margin-top: 20px; }
  .Form-Vertical .Control-Group:first-child {
    margin-top: 0; }

.Form-Vertical label {
  padding: 10px 0;
  border-color: transparent; }
.Form-Vertical input,
.Form-Vertical select,
.Form-Vertical textarea {
  padding: 5px 10px;
  border: 1px solid; }
.Form-Vertical label,
.Form-Vertical input,
.Form-Vertical select,
.Form-Vertical textarea {
  display: block;
  width: 100%; }

.Form-Horizontal label,
.Form-Horizontal input,
.Form-Horizontal select,
.Form-Horizontal textarea {
  display: block;
  float: left;
  width: 70%;
  border: 1px solid;
  line-height: 24px; }
.Form-Horizontal input,
.Form-Horizontal select,
.Form-Horizontal textarea {
  padding: 5px 10px; }
.Form-Horizontal label {
  width: 30%;
  border-color: transparent;
  padding: 5px 10px 5px 0; }

label.Checkbox,
label.Radio {
  display: block;
  width: 100%; }

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  display: inline;
  float: none;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  border: 0; }

input[type='submit'] {
  width: inherit;
  padding: 10px 0;
  font-size: 110%;
  text-align: center; }
  input[type='submit']:hover {
    background-color: #555555; }
  input[type='submit'][disabled] {
    background-color: #cccccc;
    cursor: not-allowed; }

.Control-Group input,
.Control-Group select,
.Control-Group textarea {
  border-color: #cccccc;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.Control-Group input:focus,
.Control-Group select:focus,
.Control-Group textarea:focus {
  outline: 0;
  border-color: #ec6700; }

#recaptcha_widget_div {
  display: inline-block;
  width: 70%; }

#recaptcha_widget_div .recaptchatable {
  border: none !important;
  width: 100%;
  padding-bottom: 10px !important;
  display: block; }

#recaptcha_widget_div .recaptchatable .recaptcha_image_cell,
#recaptcha_widget_div .recaptchatable td {
  padding: 0px 7px 0px 0px !important; }

#recaptcha_widget_div .recaptchatable #recaptcha_image {
  margin: 0px;
  border: none !important; }

dl.Tabs dt {
  float: left;
  position: relative;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  background: #555555;
  color: white;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  dl.Tabs dt.Active {
    background: #555555;
    border-top: 3px solid #ec6700; }
  dl.Tabs dt.Disabled {
    color: #999999;
    cursor: not-allowed; }
    dl.Tabs dt.Disabled:hover {
      background: #555555; }
  dl.Tabs dt:hover {
    background: #626262; }
dl.Tabs dd {
  display: none;
  float: right;
  margin: 50px 0 0 -100%;
  position: relative;
  width: 100%;
  z-index: 2;
  border-top: 1px solid #555555; }
  dl.Tabs dd.Active {
    display: block; }
  dl.Tabs dd > div {
    padding: 20px 0; }

button.Button,
input.Button,
a.Button {
  line-height: 24px;
  color: white; }
  button.Button[disabled],
  input.Button[disabled],
  a.Button[disabled] {
    cursor: not-allowed;
    background-color: #999999;
    color: #dedede; }

.Message {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 0 2px white inset;
  margin-bottom: 20px; }
  .Message h3,
  .Message h4,
  .Message h5,
  .Message h6 {
    margin-bottom: 5px; }
  .Message h3 {
    font-size: 120%; }
  .Message h4 {
    font-size: 110%; }
  .Message h5 {
    font-size: 100%; }
  .Message h6 {
    font-size: 90%; }
  .Message.Icon {
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px center; }
  .Message.Error {
    background-color: #ffecec;
    border-color: #ec0000;
    color: #d30000; }
  .Message.Warning {
    background-color: #fffaea;
    border-color: #d1a300;
    color: #b78f00; }
  .Message.Success {
    background-color: #dfffdc;
    border-color: #0da900;
    color: #0b8f00; }
  .Message.Info {
    background-color: #daf7ff;
    border-color: #00bff3;
    color: #00abd9; }
  .Message.Bottom-Right {
    width: 300px !important;
    height: auto !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 1px 2px #333; }
  .Message.Icon.Error {
    background-image: url(/img/techonline/icon-error.png); }
  .Message.Icon.Warning {
    background-image: url(/img/techonline/icon-warning.png); }
  .Message.Icon.Success {
    background-image: url(/img/techonline/icon-success.png); }
  .Message.Icon.Info {
    background-image: url(/img/techonline/icon-info.png); }

.Node {
  padding: 30px;
  background-color: white;
  border-radius: 10px; }

.Node > * {
  margin-top: 20px; }

.Node.Row > * {
  margin-top: 0; }

.Node > *:first-child {
  margin-top: 0; }

.Node [class*='Grid-Node-'] {
  margin-top: 0; }

/* ТАБЫ < ////////////////////////////////////////////////////////////////////////////////////*/
table.Stripped tr:nth-child(even) td {
  background-color: #f0f0f0; }

table.Stripped {
  border-spacing: 0; }

table > tr > td {
  padding: 15px; }

table.Big > tr > td {
  padding: 30px;
  margin: 30px; }

table.Small > tr > td {
  padding: 5px; }

table td.Param {
  width: 60%;
  border-right: 1px dashed #cccccc; }

html,
body,
#wrap {
  height: 100%; }

body > #wrap {
  height: auto;
  min-height: 100%;
  clear: both; }
  body > #wrap > #wrap-stop {
    height: 100px; }

body {
  background: #eee url(../../../../img/techonline/page-background3.png) repeat;
  font-family: 'Exo 2', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.00em;
  line-height: 1.45;
  -webkit-animation: FadeIn 0.6s;
  -moz-animation: FadeIn 0.6s;
  animation: FadeIn 0.6s; }

.Section-Header,
.Section-Subheader {
  display: inline-block;
  clear: both;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: #ec6700;
  background: linear-gradient(to right, #ec6700, #ff9441);
  color: #fff;
  font-weight: 100;
  cursor: default;
  border-radius: 0 10px; }

.Header-Column {
  font-size: 1.5em;
  font-weight: 100;
  padding-bottom: 10px;
  border-bottom: 1px dashed #999999; }

.Section-Header {
  font-size: 22px; }

.Section-Subheader {
  font-size: 1.125em; }

.Page-Header {
  background: white;
  border-bottom: 1px solid #e1e1e1;
  height: 80px;
  -webkit-animation: FadeIn 1s;
  -moz-animation: FadeIn 1s;
  animation: FadeIn 1s; }
  .Page-Header .Page-Header-Inner {
    width: 1000px;
    height: 80px; }
    .Page-Header .Page-Header-Inner .Site-Logo {
      position: relative;
      width: 35%;
      height: 80px;
      overflow: hidden;
      display: inline-block; }
      .Page-Header .Page-Header-Inner .Site-Logo div {
        width: 100%;
        position: absolute;
        top: 20px;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s; }
        .Page-Header .Page-Header-Inner .Site-Logo div img {
          display: block;
          float: left;
          margin-right: 10px; }
        .Page-Header .Page-Header-Inner .Site-Logo div h2 {
          padding: 5px 0;
          color: #ec6700;
          font-size: 1.5em;
          font-weight: 100;
          text-transform: uppercase; }
          .Page-Header .Page-Header-Inner .Site-Logo div h2 small {
            display: inline;
            font-size: 0.8em;
            color: black; }
      .Page-Header .Page-Header-Inner .Site-Logo > a {
        z-index: 2;
        position: absolute;
        display: block;
        padding: 30px;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0); }
        .Page-Header .Page-Header-Inner .Site-Logo > a:hover {
          color: #ec6700;
          text-decoration: underline; }
      .Page-Header .Page-Header-Inner .Site-Logo:hover > div {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0); }
      .Page-Header .Page-Header-Inner .Site-Logo:hover > a {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
    .Page-Header .Page-Header-Inner .Page-Auth {
      position: relative;
      padding: 0 10px;
      width: 15%; }
      .Page-Header .Page-Header-Inner .Page-Auth > .Button {
        margin-top: 4px;
        width: 100%;
        font-size: 12px;
        padding: 5px 0; }
      .Page-Header .Page-Header-Inner .Page-Auth .Sign-In-UI,
      .Page-Header .Page-Header-Inner .Page-Auth .Sign-Up-UI {
        position: absolute;
        padding: 20px;
        background-color: white;
        top: 46px;
        right: 0;
        width: 400px;
        font-size: 0.875em;
        border-top: 4px solid #ec6700;
        z-index: 10;
        border-radius: 10px; }
        .Page-Header .Page-Header-Inner .Page-Auth .Sign-In-UI form h4,
        .Page-Header .Page-Header-Inner .Page-Auth .Sign-Up-UI form h4 {
          padding-bottom: 10px;
          margin-bottom: 20px;
          font-size: 1.5em;
          border-bottom: 1px dashed #cccccc; }

.Page-Navigation {
  display: inline-block;
  width: 50%;
  text-align: right; }
  .Page-Navigation ul li {
    margin-left: 15px; }
    .Page-Navigation ul li > a {
      display: block;
      padding: 30px 0 10px;
      border-bottom: 3px solid transparent;
      font-size: 1em;
      color: #000;
      text-transform: uppercase; }
      .Page-Navigation ul li > a:hover, .Page-Navigation ul li > a.Link-Active {
        border-color: #ec6700;
        color: #ec6700; }
    .Page-Navigation ul li:first-child {
      margin-left: 0; }

.Page-Slider {
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
  height: 250px;
  background: #ec6700;
  background: linear-gradient(to top, #ff7f1c, #ec6700);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
  -webkit-animation: SlideDown 0.5s;
  -moz-animation: SlideDown 0.5s;
  animation: SlideDown 0.5s; }
  .Page-Slider .Slider-Inner {
    position: relative; }
    .Page-Slider .Slider-Inner img.Truck {
      width: 360px;
      position: absolute;
      -webkit-animation: SlideUp 1s;
      -moz-animation: SlideUp 1s;
      animation: SlideUp 1s; }
    .Page-Slider .Slider-Inner .Slider-Links {
      position: absolute;
      margin-top: 60px;
      right: 300px;
      -webkit-animation: SlideUp 0.6s;
      -moz-animation: SlideUp 0.6s;
      animation: SlideUp 0.6s; }
      .Page-Slider .Slider-Inner .Slider-Links li a {
        display: block;
        padding: 15px;
        color: black;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }
        .Page-Slider .Slider-Inner .Slider-Links li a:hover {
          color: #fff;
          background: #555555; }

.Breadcrumbs {
  padding: 0 !important;
  margin-top: 20px !important;
  margin-bottom: -20px !important;
  background-color: white;
  border-radius: 10px; }
  .Breadcrumbs .Breadcrumb-List {
    padding: 10px 0; }
    .Breadcrumbs .Breadcrumb-List .Breadcrumb-Item a,
    .Breadcrumbs .Breadcrumb-List .Breadcrumb-Item span {
      padding: 5px; }
    .Breadcrumbs .Breadcrumb-List .Breadcrumb-Item a:hover {
      background-color: #f1f1f1; }
    .Breadcrumbs .Breadcrumb-List .Breadcrumb-Item:before {
      padding: 0 10px;
      content: "/"; }
    .Breadcrumbs .Breadcrumb-List .Breadcrumb-Item:first-child:before {
      content: ""; }

.Pagination {
  border-left: 4px solid #ec6700; }
  .Pagination > li {
    margin-top: 0 !important;
    margin-right: 1px; }
    .Pagination > li > span, .Pagination > li > a {
      color: #fff;
      display: block;
      padding: 10px 20px;
      background-color: #555555; }
    .Pagination > li:hover > span {
      cursor: default; }
    .Pagination > li:hover > a {
      background-color: #999999; }
    .Pagination > li.disabled > span {
      color: #999999; }
    .Pagination > li.active > span {
      background-color: #ec6700; }

.Sidebar-Filter a.Active {
  color: white;
  background-color: #555555; }
.Sidebar-Filter > h4 {
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 5px; }
  .Sidebar-Filter > h4:first-child {
    margin-top: 0; }
.Sidebar-Filter > ul {
  margin-right: 50px;
  font-family: Calibri, Helvetica, Verdana, sans-serif !important; }
  .Sidebar-Filter > ul > li > a {
    display: block;
    padding: 5px;
    border-top: 1px dashed #cccccc;
    font-size: 13px;
    font-weight: 900;
    color: black; }
    .Sidebar-Filter > ul > li > a:hover {
      background-color: #dedede; }
  .Sidebar-Filter > ul > li:first-child a {
    border: 0; }

.List-Categories li {
  padding: 10px 0; }
  .List-Categories li a {
    font-size: 0.875em;
    display: inline-block; }
.List-Categories.Icons a {
  padding: 10px 0;
  font-size: 1em;
  width: 100%;
  text-align: center; }
.List-Categories.Icons img {
  vertical-align: middle;
  display: block;
  height: 100px;
  margin: 0 auto; }
.List-Categories.Brands img {
  width: 50px; }

.Comment .Comment-List li:first-child {
  margin-top: 0; }
.Comment .Comment-List li .Comment-List-Element-Rating {
  float: left;
  margin-right: 30px;
  color: #cccccc; }
  .Comment .Comment-List li .Comment-List-Element-Rating > span {
    display: block;
    margin: 0 auto;
    text-align: center; }
.Comment .Comment-List li .Arrow {
  visibility: hidden;
  cursor: pointer; }
  .Comment .Comment-List li .Arrow img {
    display: block; }
.Comment .Comment-List li:hover .Arrow {
  visibility: visible; }
  .Comment .Comment-List li:hover .Arrow .Positive {
    color: #0da900; }
  .Comment .Comment-List li:hover .Arrow .Negative {
    color: #ec0000; }
.Comment .Comment-List li .Comment-List-Element-Content {
  overflow: hidden; }
  .Comment .Comment-List li .Comment-List-Element-Content header small.Date {
    color: #cccccc; }
  .Comment .Comment-List li .Comment-List-Element-Content p {
    width: 75%; }
.Comment > form {
  margin-top: 50px; }

footer[role='contentinfo'] {
  height: 100px;
  background: white;
  border-top: 1px solid #e1e1e1; }
  footer[role='contentinfo'] > div {
    padding: 30px 0; }
    footer[role='contentinfo'] > div .Footer-Navigation {
      width: 37%; }
      footer[role='contentinfo'] > div .Footer-Navigation ul li {
        margin-left: 20px; }
        footer[role='contentinfo'] > div .Footer-Navigation ul li a {
          color: black;
          padding-bottom: 5px;
          border-bottom: 2px solid transparent; }
          footer[role='contentinfo'] > div .Footer-Navigation ul li a:hover {
            color: #ec6700;
            border-color: #ec6700; }
        footer[role='contentinfo'] > div .Footer-Navigation ul li:first-child {
          margin-left: 0; }

.Category-List {
  -webkit-animation: FadeIn 1s;
  -moz-animation: FadeIn 1s;
  animation: FadeIn 1s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.Rent-List {
  -webkit-animation: FadeIn 1s;
  -moz-animation: FadeIn 1s;
  animation: FadeIn 1s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.Filter-Regions li a {
  display: block;
  padding: 5px 0; }

.Filter-Categories li a {
  display: block;
  padding: 10px 0; }

.News-List li.News-Item,
.News-List li.Seller-Item,
.Seller-List li.News-Item,
.Seller-List li.Seller-Item {
  padding: 20px; }
  .News-List li.News-Item header,
  .News-List li.Seller-Item header,
  .Seller-List li.News-Item header,
  .Seller-List li.Seller-Item header {
    margin-bottom: 10px;
    border-bottom: 1px #cccccc dashed;
    padding-bottom: 10px; }
    .News-List li.News-Item header h5.Title,
    .News-List li.Seller-Item header h5.Title,
    .Seller-List li.News-Item header h5.Title,
    .Seller-List li.Seller-Item header h5.Title {
      display: block;
      float: left;
      width: 85%; }
      .News-List li.News-Item header h5.Title a,
      .News-List li.Seller-Item header h5.Title a,
      .Seller-List li.News-Item header h5.Title a,
      .Seller-List li.Seller-Item header h5.Title a {
        font-size: 1.125em;
        text-transform: uppercase; }
      .News-List li.News-Item header h5.Title .News-Date,
      .News-List li.News-Item header h5.Title .Seller-Location,
      .News-List li.Seller-Item header h5.Title .News-Date,
      .News-List li.Seller-Item header h5.Title .Seller-Location,
      .Seller-List li.News-Item header h5.Title .News-Date,
      .Seller-List li.News-Item header h5.Title .Seller-Location,
      .Seller-List li.Seller-Item header h5.Title .News-Date,
      .Seller-List li.Seller-Item header h5.Title .Seller-Location {
        display: block;
        clear: both;
        font-size: 0.8em; }
    .News-List li.News-Item header .Rating,
    .News-List li.Seller-Item header .Rating,
    .Seller-List li.News-Item header .Rating,
    .Seller-List li.Seller-Item header .Rating {
      width: 15%;
      float: left;
      text-align: right;
      color: #cccccc; }
  .News-List li.News-Item .Description,
  .News-List li.Seller-Item .Description,
  .Seller-List li.News-Item .Description,
  .Seller-List li.Seller-Item .Description {
    font-size: 14px; }
    .News-List li.News-Item .Description img,
    .News-List li.Seller-Item .Description img,
    .Seller-List li.News-Item .Description img,
    .Seller-List li.Seller-Item .Description img {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 10px; }
  .News-List li.News-Item:last-child,
  .News-List li.Seller-Item:last-child,
  .Seller-List li.News-Item:last-child,
  .Seller-List li.Seller-Item:last-child {
    padding-right: 50px; }

.Snippet-List .Snippet-Item header .Item-Category,
.Snippet-List .Snippet-Item header .Item-Location {
  padding: 0; }
.Snippet-List .Item-Gallery > img {
  width: 100%; }

.Snippet-Item header {
  margin-bottom: 20px; }
  .Snippet-Item header .Item-Title {
    margin: 5px 10px 0 0;
    display: inline-block;
    max-width: 55%;
    text-transform: uppercase;
    font-size: 20px; }
    .Snippet-Item header .Item-Title a {
      display: block;
      color: #ec6700; }
      .Snippet-Item header .Item-Title a:hover {
        color: #ec6700; }
    .Snippet-Item header .Item-Title .Item-Category,
    .Snippet-Item header .Item-Title .Item-Location {
      float: left;
      text-transform: none;
      font-size: 12px;
      font-weight: 100;
      color: #999999; }
  .Snippet-Item header h4,
  .Snippet-Item header .Section-Header {
    float: left; }
  .Snippet-Item header .Item-Values {
    display: inline !important;
    width: 45%;
    color: white;
    margin-right: -50px;
    float: right;
    background: linear-gradient(to left, #ec6700, #ff9441);
    border-radius: 10px 0; }
    .Snippet-Item header .Item-Values li {
      padding: 10px 10px; }
      .Snippet-Item header .Item-Values li h6 {
        margin: 0;
        font-size: 12px;
        font-weight: 100; }
.Snippet-Item .Item-Gallery {
  padding-right: 30px; }
  .Snippet-Item .Item-Gallery img.Item-Main-Photo {
    border-radius: 10px; }
  .Snippet-Item .Item-Gallery ul li {
    width: 30%;
    margin-left: 5%; }
    .Snippet-Item .Item-Gallery ul li:first-child {
      margin-left: 0; }
    .Snippet-Item .Item-Gallery ul li img {
      display: block;
      width: 100%;
      border-radius: 10px; }
.Snippet-Item .Item-Photo {
  margin-bottom: 30px;
  padding-right: 30px; }
  .Snippet-Item .Item-Photo img {
    width: 100%;
    border-radius: 10px; }
.Snippet-Item .Item-Content {
  margin-bottom: 30px;
  font-size: 14px; }
  .Snippet-Item .Item-Content h6 {
    margin: 10px 0 5px;
    font-size: 18px; }
  .Snippet-Item .Item-Content p + p {
    margin-top: 15px; }
  .Snippet-Item .Item-Content table {
    font-size: 14px;
    border-top: 1px dashed #dedede;
    width: 100%; }
    .Snippet-Item .Item-Content table tr td {
      padding: 5px 0; }
.Snippet-Item .Item-Info {
  clear: both;
  padding: 10px 0;
  border-top: 1px dashed #999999;
  color: #999999;
  font-size: 0.8em; }
  .Snippet-Item .Item-Info .Date {
    padding: 5px 0;
    margin: 0 30px 10px 0; }

ul.Tag-List li.Tag-Item {
  margin-right: 10px; }
  ul.Tag-List li.Tag-Item a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #cccccc;
    color: white;
    font-size: 12px;
    border-radius: 10px 0 0 10px; }
    ul.Tag-List li.Tag-Item a:hover {
      background-color: #999999; }

.List-Filter li.List-Filter-Subheader div {
  width: 10%;
  float: left; }
  .List-Filter li.List-Filter-Subheader div img {
    padding: 5px 0;
    margin: 5px 0 0;
    width: 12px;
    float: left;
    cursor: pointer; }
    .List-Filter li.List-Filter-Subheader div img:hover {
      opacity: 0.75;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
      filter: alpha(opacity=75); }
.List-Filter li.List-Filter-Subheader a {
  width: 90%;
  float: right; }
.List-Filter li.List-Filter-Subcategory ul {
  margin-left: 17px;
  margin-bottom: 20px; }
  .List-Filter li.List-Filter-Subcategory ul li a {
    display: inline-block;
    padding: 5px 0;
    font-size: .7em; }

.Menu-List ul li {
  padding: 10px 0; }

@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); } }
@-moz-keyframes FadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); } }
@keyframes FadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); } }
@-webkit-keyframes SlideUp {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 300px; }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    top: 0; } }
@-moz-keyframes SlideUp {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 300px; }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    top: 0; } }
@keyframes SlideUp {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 300px; }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    top: 0; } }
@-webkit-keyframes SlideDown {
  from {
    max-height: 1px; }
  to {
    max-height: 350px; } }
@-moz-keyframes SlideDown {
  from {
    max-height: 1px; }
  to {
    max-height: 350px; } }
@keyframes SlideDown {
  from {
    max-height: 1px; }
  to {
    max-height: 350px; } }
@media all and (max-width: 1024px) {
  * {
    border-radius: 0 !important; }

  .Node {
    padding: 15px; }

  .Page-Navigation > ul > li > a {
    font-size: 12px; }

  .Section-Header,
  .Section-Subheader {
    margin-left: -15px;
    border-radius: 0; }

  .Snippet-Item header {
    margin-bottom: 10px !important; }

  .Item-Title {
    max-width: 100% !important; }

  .Item-Gallery {
    padding-right: 0 !important;
    width: 100% !important; }

  .Item-Gallery .Item-Main-Photo {
    width: 100% !important;
    margin-bottom: 10px !important; }

  .Item-Content {
    margin-top: 20px;
    width: 100% !important; }

  .Item-Values {
    width: 100% !important;
    margin-top: 15px;
    margin-right: 0 !important; }

  ._Section-Inner, .Node, .Page-Header .Page-Header-Inner, .Page-Slider .Slider-Inner, footer[role='contentinfo'] > div {
    width: 95% !important; }

  ._Fly-Out, .Section-Header,
  .Section-Subheader, .Pagination {
    margin-left: -15px; } }

/*# sourceMappingURL=main.css.map */
