@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Android Fix */ }

a img {
  border: 0; }

body {
  font-family: sans-serif; }

iframe {
  display: block; }

.Grid {
  width: 100%; }

.Grid-Row {
  width: 100%;
  margin-top: 30px; }
  .Grid-Row:first-child {
    margin-top: 0; }

.Grid-Node-1-2 {
  width: 50.00%; }

.Grid-Node-1-3 {
  width: 33.33%; }

.Grid-Node-2-3 {
  width: 66.66%; }

.Grid-Node-1-4 {
  width: 25.00%; }

.Grid-Node-2-4 {
  width: 50.00%; }

.Grid-Node-3-4 {
  width: 75.00%; }

.Grid-Node-1-5 {
  width: 20.00%; }

.Grid-Node-2-5 {
  width: 40.00%; }

.Grid-Node-3-5 {
  width: 60.00%; }

.Grid-Node-4-5 {
  width: 80.00%; }

.Grid-No-Padding > * {
  padding: 0 !important; }

[class*='Grid-Node-'] {
  display: block;
  float: left;
  min-height: 1px; }

.Grid.Split [class*='Grid-Node-'] {
  margin-left: 5%; }
  .Grid.Split [class*='Grid-Node-']:first-child {
    margin-left: 0; }

.Grid.Split .Grid-Node-1-2 {
  width: 47.5%; }

.Grid.Split .Grid-Node-1-3 {
  width: 30%; }

.Grid.Split .Grid-Node-2-3 {
  width: 60%; }

.Grid.Split .Grid-Node-1-4 {
  width: 21.25%; }

.Grid.Split .Grid-Node-2-4 {
  width: 42.5%; }

.Grid.Split .Grid-Node-3-4 {
  width: 63.75%; }

.Grid.Split .Grid-Node-1-5 {
  width: 16%; }

.Grid.Split .Grid-Node-2-5 {
  width: 32%; }

.Grid.Split .Grid-Node-3-5 {
  width: 48%; }

.Grid.Split .Grid-Node-4-5 {
  width: 64%; }

.Grid [class*='Grid-Node-']:first-of-type {
  padding-left: 0; }

.Grid [class*='Grid-Node-']:last-of-type {
  padding-right: 0; }

code {
  background-color: #f7f7f7;
  border-left: 20px solid #ccc;
  font-family: "Courier New", monospace;
  display: block;
  padding: 10px 20px; }

code.Inline, code.Pagination {
  display: inline-block; }

.Section-Header.Ribbon {
  background-color: #00bff3;
  color: #fff;
  position: relative;
  display: block;
  height: 50px;
  margin: -30px -50px 0; }

.Node header.Ribbon h3 {
  padding: 10px 30px 0; }

.Section-Header.Ribbon:after,
.Section-Header.Ribbon:before {
  content: ' ';
  position: absolute;
  display: block;
  border: 15px solid #d30000;
  border-bottom-color: transparent;
  top: 50px;
  z-index: 1; }

.Section-Header.Ribbon:before {
  border-left-color: transparent;
  left: 0; }

.Section-Header.Ribbon:after {
  border-right-color: transparent;
  right: 0; }

.Inline > li, nav.Page-Navigation ul > li, .Pagination > li {
  float: left; }

.No-Bullets, nav.Page-Navigation ul, .List-Filter, .Comment .Comment-List {
  list-style: none; }

.Control-Group {
  margin-top: 10px; }

.Control-Group:first-child {
  margin-top: 0; }

.Form-Vertical .Control-Group {
  margin-top: 20px; }

.Form-Vertical .Control-Group:first-child {
  margin-top: 0; }

.Control-Group textarea {
  resize: vertical; }

.Control-Group input[type='submit'] + input[type='submit'] {
  margin-left: 15px; }

.Control-Group input,
.Control-Group select {
  font-weight: 900; }

.Form-Vertical label,
.Form-Vertical input,
.Form-Vertical select,
.Form-Vertical textarea {
  display: block;
  width: 100%;
  border: 1px solid; }

.Form-Vertical label {
  padding: 10px 0;
  border-color: transparent; }

.Form-Vertical input,
.Form-Vertical select {
  padding: 10px; }

.Form-Horizontal label,
.Form-Horizontal input,
.Form-Horizontal select,
.Form-Horizontal textarea {
  display: block;
  line-height: 24px;
  float: left;
  border: 1px solid; }

.Form-Horizontal label {
  width: 30%;
  border-color: transparent; }

.Form-Horizontal input,
.Form-Horizontal select,
.Form-Horizontal textarea {
  padding: 5px 10px;
  width: 70%; }

label.Checkbox,
label.Radio {
  display: block;
  width: 100%; }

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  display: inline;
  float: none;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  border: 0; }

input[type='submit'] {
  width: inherit;
  background-color: #ec6700;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 10px 30px !important;
  font-size: 110%; }

input[type='submit']:hover {
  background-color: #d30000; }

input[type='submit'][disabled] {
  background-color: #ccc;
  cursor: not-allowed; }

.Control-Group input,
.Control-Group select,
.Control-Group textarea {
  border-color: #ccc !important; }

.Control-Group input:focus,
.Control-Group select:focus,
.Control-Group textarea:focus {
  outline: 0;
  border-color: #ec6700 !important; }

.Input-Smart {
  min-height: 36px;
  position: relative; }

.Input-Smart input {
  min-height: 36px;
  line-height: 24px;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 5px 10px; }

.Input-Smart .before + input,
.Input-Smart .before + .after + input {
  padding-left: 50px; }

.Input-Smart .after input {
  padding-right: 50px; }

.Input-Smart .before,
.Input-Smart .after {
  position: absolute;
  z-index: 2;
  width: 40px;
  display: block;
  text-align: center;
  padding: 5px 10px 5px;
  line-height: 24px;
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-shadow: 0 0 2px white inset;
  font-size: 80%; }

.Input-Smart .before {
  left: 1px;
  top: 1px;
  border-left: 0; }

.Input-Smart .after {
  top: 1px;
  right: 1px;
  border-right: 0; }

#recaptcha_widget_div {
  display: inline-block;
  width: 70%; }

#recaptcha_widget_div .recaptchatable {
  border: none !important;
  width: 100%;
  padding-bottom: 10px !important;
  display: block; }

#recaptcha_widget_div .recaptchatable .recaptcha_image_cell,
#recaptcha_widget_div .recaptchatable td {
  padding: 0px 7px 0px 0px !important; }

#recaptcha_widget_div .recaptchatable #recaptcha_image {
  margin: 0px;
  border: none !important; }

/* ╨б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П > ///////////////////////////////////////////////////////////////////////////////*/
.Message {
  font-size: 90%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 0 2px white inset;
  margin-bottom: 20px; }

.Message h3,
.Message h4,
.Message h5,
.Message h6 {
  margin-bottom: 5px; }

.Message h3 {
  font-size: 120%; }

.Message h4 {
  font-size: 110%; }

.Message h5 {
  font-size: 100%; }

.Message h6 {
  font-size: 90%; }

.Message.Icon {
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 10px center; }

.Message.Error {
  background-color: #ffecec;
  border-color: #ec0000;
  color: #d30000; }

.Message.Icon.Error {
  background-image: url(/img/techonline/icon-error.png); }

.Message.Warning {
  background-color: #fffaea;
  border-color: #d1a300;
  color: #b78f00; }

.Message.Icon.Warning {
  background-image: url(/img/techonline/icon-warning.png); }

.Message.Success {
  background-color: #dfffdc;
  border-color: #0da900;
  color: #0b8f00; }

.Message.Icon.Success {
  background-image: url(/img/techonline/icon-success.png); }

.Message.Info {
  background-color: #daf7ff;
  border-color: #00bff3;
  color: #00abd9; }

.Message.Icon.Info {
  background-image: url(/img/techonline/icon-info.png); }

.Message.Bottom-Right {
  width: 300px !important;
  height: auto !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 1px 2px #333; }

body.RoundUI .Message {
  border-radius: 5px; }

/* ╨б╨╛╨╛╨▒╤Й╨╡╨╜╨╕╤П < ///////////////////////////////////////////////////////////////////////////////*/
.Left, .Page-Header .Centrate .Page-Auth button.Sign-In,
.Page-Header .Centrate .Page-Auth .User-Exit, .Comment .Comment-List li .Comment-List-Element-Content header h5 {
  float: left; }

.Right, .Page-Header .Centrate .Page-Auth, .Page-Header .Centrate .Page-Auth > p, .Comment .Comment-List li .Comment-List-Element-Content header small.Date {
  float: right; }

.dev {
  outline: 1px red solid !important; }

.visible {
  display: block; }

.Centrate {
  margin-left: auto;
  margin-right: auto; }

.fix, .Page-Header .Centrate, nav.Page-Navigation ul, .Lot, .Lot header, .Pagination, .Comment .Comment-List li .Comment-List-Element-Content header,
.Node,
.Grid,
.Grid-Row,
.Control-Group,
.Tab-Set,
.Tab-Buttons {
  display: table; }

.fix:after, .Page-Header .Centrate:after, nav.Page-Navigation ul:after, .Lot:after, .Lot header:after, .Pagination:after, .Comment .Comment-List li .Comment-List-Element-Content header:after,
.Node:after,
.Grid:after,
.Grid-Row:after,
.Control-Group:after,
.Tab-Set,
.Tab-Buttons {
  content: '. .';
  display: block;
  word-spacing: 99in;
  height: 0;
  overflow: hidden; }

.Node {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid #e1e1e1; }

.Node + .Node {
  margin-top: 50px; }

.Node:first-child {
  margin-top: 0; }

.Node > * {
  margin-top: 20px; }

.Node > *:first-child {
  margin-top: 0; }

.Node [class*='Grid-Node-'] {
  margin-top: 0; }

/* ТАБЫ > ////////////////////////////////////////////////////////////////////////////////////*/
.Tab-Buttons > li {
  float: left; }

[class*='Tab-Node'] {
  display: none; }

.Tab-Node:first-child {
  display: block; }

/* ТАБЫ < ////////////////////////////////////////////////////////////////////////////////////*/
table.Stripped tr:nth-child(even) td {
  background-color: #f0f0f0; }

table.Stripped {
  border-spacing: 0; }

table > tr > td {
  padding: 20px; }

table.Big > tr > td {
  padding: 30px;
  margin: 30px; }

table.Small > tr > td {
  padding: 5px; }

.Animate, a:link,
a:visited, .Page-Header .Centrate .Page-Auth button.Sign-In,
.Page-Header .Centrate .Page-Auth .User-Exit {
  transition: 0.3s ease; }

a:link,
a:visited {
  color: #ec6700;
  text-decoration: none; }

a:hover {
  color: #333333; }

html,
body,
#wrap {
  height: 100%; }

body > #wrap {
  height: auto;
  min-height: 100%;
  clear: both; }

#wrap > #wrap-stop {
  height: 50px; }

body {
  background: #eee;
  font-family: 'Exo 2', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.00em;
  line-height: 1.45; }

.Section-Header,
.Section-Subheader {
  display: inline-block;
  margin: 0 -50px 0;
  padding: 10px 15px;
  background-color: #333333;
  border-left: 4px solid #ec6700;
  color: #fff;
  font-weight: 100;
  clear: both; }

.Section-Header {
  font-size: 1.5em; }

.Section-Subheader {
  font-size: 1.25em; }

.Page-Header {
  background: white;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1; }
  .Page-Header .Centrate {
    padding: 15px 0;
    width: 1000px; }
    .Page-Header .Centrate .Site-Logo {
      width: 40%;
      float: left;
      overflow: hidden;
      display: inline-block; }
      .Page-Header .Centrate .Site-Logo div {
        height: 45px;
        overflow: hidden; }
        .Page-Header .Centrate .Site-Logo div img {
          display: block;
          float: left;
          margin-right: 20px; }
        .Page-Header .Centrate .Site-Logo div h2 {
          color: #ec6700;
          font-size: 30px;
          font-weight: 100;
          text-transform: uppercase; }
          .Page-Header .Centrate .Site-Logo div h2 small {
            color: black;
            font-size: 0.813em; }
    .Page-Header .Centrate .Page-Auth button.Sign-In,
    .Page-Header .Centrate .Page-Auth .User-Exit {
      display: block;
      padding: 10px;
      margin: 5px 20px 0 0;
      border: 1px solid;
      text-align: center;
      color: #ec6700;
      background-color: transparent; }
      .Page-Header .Centrate .Page-Auth button.Sign-In:hover,
      .Page-Header .Centrate .Page-Auth .User-Exit:hover {
        color: #ec6700; }
    .Page-Header .Centrate .Page-Auth > p {
      padding: 5px 0; }
    .Page-Header .Centrate .Page-Auth > a {
      float: left;
      margin: 15px 20px 0 0;
      overflow: hidden;
      display: block;
      font-size: 0.875em; }
    .Page-Header .Centrate .Page-Auth .User-Exit {
      margin-right: 0; }

nav.Page-Navigation {
  float: right;
  display: inline-block;
  width: 50%;
  text-align: right; }
  nav.Page-Navigation ul li {
    margin-left: 30px; }
    nav.Page-Navigation ul li > a {
      display: block;
      padding: 10px 0;
      font-size: 1em;
      border-bottom: 3px solid transparent;
      color: #000;
      text-transform: uppercase; }
      nav.Page-Navigation ul li > a:hover, nav.Page-Navigation ul li > a.Link-Active {
        color: #ec6700;
        border-color: #ec6700; }
    nav.Page-Navigation ul li:first-child {
      margin-left: 0; }

.Lot {
  margin-top: 50px; }
  .Lot:first-child {
    margin-top: 0; }
  .Lot header {
    margin-bottom: 15px; }
    .Lot header h4 {
      font-size: 1.25em;
      text-transform: uppercase;
      float: left; }
    .Lot header h5 {
      color: white;
      background-color: #ec6700;
      margin-right: -50px;
      padding: 10px 15px;
      float: right; }
    .Lot header img {
      display: block;
      height: 30px;
      float: left;
      margin-right: 15px;
      margin-top: 5px; }
    .Lot header p {
      font-size: 0.875em;
      clear: both; }
  .Lot .Lot-Gallery {
    position: relative;
    overflow: auto;
    padding-right: 50px !important; }
    .Lot .Lot-Gallery > li {
      display: block;
      overflow: hidden;
      float: left;
      width: 100%; }
      .Lot .Lot-Gallery > li > img {
        width: 100%;
        display: block; }
  .Lot .Lot-About {
    font-size: 0.875em; }
    .Lot .Lot-About > h6 {
      margin-top: 15px;
      font-size: 1.25em; }
    .Lot .Lot-About > table {
      margin: 0 -10px; }
      .Lot .Lot-About > table tr td {
        padding: 5px 10px; }
  .Lot.Element .Lot-About {
    font-size: 1.125em; }

.Lot-List > li:first-child {
  margin-top: 0; }

footer[role='contentinfo'] {
  margin-top: -50px;
  height: 50px;
  background: #272727;
  color: white;
  border-top: 2px solid #ec6700;
  font-size: 90%; }

footer > .Copyright {
  margin: 15px; }

.Pagination {
  margin-left: -50px;
  border-left: 4px solid #ec6700;
  list-style: none; }
  .Pagination > li {
    margin-top: 0 !important;
    margin-right: 1px; }
    .Pagination > li > span, .Pagination > li > a {
      color: #fff;
      display: block;
      padding: 10px 20px;
      background-color: #333333; }
    .Pagination > li:hover > span {
      cursor: default; }
    .Pagination > li:hover > a {
      background-color: #bfbfbf; }
    .Pagination > li.disabled > span {
      color: #bfbfbf; }
    .Pagination > li.active > span {
      background-color: #ec6700; }

.Sidebar-Filter > h4 {
  margin-top: 20px; }
  .Sidebar-Filter > h4:first-child {
    margin-top: 0; }

.List-Filter > li {
  margin-right: 20px; }
  .List-Filter > li > a {
    display: block;
    font-size: 0.875em;
    padding: 5px 10px;
    margin: 0 -10px; }
    .List-Filter > li > a:hover {
      background-color: #ec6700;
      color: #fff; }

.Comment .Comment-List li {
  margin-top: 50px; }
  .Comment .Comment-List li:first-child {
    margin-top: 0; }
  .Comment .Comment-List li .Comment-List-Element-Rating {
    float: left;
    margin-right: 30px;
    color: #ccc; }
    .Comment .Comment-List li .Comment-List-Element-Rating > span {
      display: block;
      margin: 0 auto;
      text-align: center; }
  .Comment .Comment-List li .Arrow {
    visibility: hidden;
    cursor: pointer; }
    .Comment .Comment-List li .Arrow img {
      display: block; }
  .Comment .Comment-List li:hover .Arrow {
    visibility: visible; }
    .Comment .Comment-List li:hover .Arrow .Positive {
      color: #0da900; }
    .Comment .Comment-List li:hover .Arrow .Negative {
      color: #ec0000; }
  .Comment .Comment-List li .Comment-List-Element-Content {
    overflow: hidden; }
    .Comment .Comment-List li .Comment-List-Element-Content header small.Date {
      color: #ccc; }
    .Comment .Comment-List li .Comment-List-Element-Content p {
      font-size: 1.125em;
      width: 75%; }
.Comment > form {
  margin-top: 50px; }

/*# sourceMappingURL=main.css.map */
