// Подключение библиотеки UPF
@import "../../../general/libs/upf/upf";

html,
body,
#wrap {
	height: 100%;
}

body > #wrap {
	height: auto;
	min-height: 100%;
	clear: both;
	& > #wrap-stop {
		height: $footer-height;
	}
}

body {
	background: #eee;
	font-family: 'Exo 2', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.00em;
	line-height: 1.45;
	@include Animation(FadeIn,0.35s);
}

.Section-Header,
.Section-Subheader {
	display: inline-block;
	clear: both;
	padding: $size-s $size-n;
	text-transform: uppercase;
	background-color: $clr-main;
	background: linear-gradient(to right, $clr-main, $clr-main-lighter);
	color: #fff;
	font-weight: 100;
	cursor: default;
	@include Round(diagonal-reverse);

	@extend ._Unselectable;
	@extend ._Fly-Out;

}
.Header-Column {
	font-size: $Font-Size-Huge;
	font-weight: 100;
	padding-bottom: $size-s;
	border-bottom: 1px dashed $clr-grey-dark;
}


.Section-Header {
	font-size: 22px;
}

.Section-Subheader {
	font-size: $Font-Size-Large;
}

// Шапка сайта
.Page-Header {
	background: white;
	margin-bottom: $size-l;
	border-bottom: 1px solid #e1e1e1;
	height: 80px;
	@extend ._Unselectable;
	@extend ._Soft_Shadow;

	.Page-Header-Inner {
		width: $node-width;
		height: 80px;
		@extend ._Fix;
		@extend ._Centrated;
		@extend ._Section-Inner;
		@extend ._Inline;

		.Site-Logo {
			position: relative;
			width: 35%;
			height: 80px;
			overflow: hidden;
			display: inline-block;
			div {
				width: 100%;
				position: absolute;
				top: 20px;
				@include Transition(opacity, .5s);

				img {
					display: block;
					float: left;
					margin-right: $size-s;
				}

				h2 {
					padding: $size-xs 0;
					color: $clr-main;
					font-size: $Font-Size-Huge;
					font-weight: 100;
					text-transform: uppercase;

					small {
						display: inline;
						font-size: $Font-Size-Micro;
						color: black;
					}
				}
			}
			& > a {
				z-index: 2;
				position: absolute;
				display: block;
				padding: $size-l;
				@include Transition(opacity, .5s);
				@include Opacity(0);

				&:hover {
					color: $clr-main;
					text-decoration: underline;
				}
			}
			&:hover > div {
				@include Opacity(0);
			}
			&:hover > a {
				@include Opacity(1);
			}
		}

		// Блок авторизации
		.Page-Auth {
			position: relative;
			padding: 0 $size-s;
			width: 19%;
			height: 80px;
			margin-top: 25px;
			& > .Button {
				font-size: 12px;
				padding: $size-xs $size-s;
				float: left;
				margin-left: 5%;
				&:first-child {
					margin-left: 0;
				}
			}

			.Sign-In-UI ,
			.Sign-Up-UI {
				position: absolute;
				padding: $size;
				background-color: white;
				top: 46px;
				right: 0;
				width: 400px;
				font-size: $Font-Size-Small;
				border-top: 4px solid $clr-main;
				z-index: 10;
				@include Round(all);
				@extend ._Soft_Shadow;
				@extend ._Unselectable;
				form {
					h4 {
						padding-bottom: $size-s;
						margin-bottom: $size;
						font-size: $Font-Size-Huge;
						border-bottom: 1px dashed $clr-grey;
					}
				}
			}
		}
	}
}

// Меню навигации по сайту
.Page-Navigation {
	display: inline-block;
	width: 46%;
	text-align: right;

	ul {
		@extend .Inline;
		@extend .No-Bullets;
		@extend ._Fix;
		li {
			margin-left: $size-n;

			& > a {
				display: block;
				padding: $size-l 0 $size-s;

				border-bottom: 3px solid transparent;

				font-size: $Font-Size-Default;
				color: #000;
				text-transform: uppercase;

				&:hover,
				&.Link-Active {
					border-color: $clr-main;
					color: $clr-main;
				}
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

//
.Page-Slider {
	overflow: hidden;
	background: url(../../../../img/techonline/shadow-down-top.png) repeat-x bottom, url(../../../../img/techonline/shadow-top-down.png) repeat-x top, url(../../../../img/techonline/banner-background.jpg) no-repeat center center;
	margin-bottom: 50px;
	margin-top: -($size-l);
	height: 250px;
	@extend ._Unselectable;

	.Slider-Inner {
		position: relative;
		width: $node-width;

		@extend ._Centrated;

		img.Truck {
			position: absolute;
			@include Animation(SlideUp, 1s);
		}
		.Slider-Links {
			position: absolute;
			right: 300px;
			@extend ._No-Bullets;
			@extend ._Vertical-Spacing;
			@include Animation(SlideUp,0.6s);
			li {
				a {
					display: block;
					padding: $size-n;
					color: #fff;
					border: 1px solid white;
					box-shadow: 0 0 20px rgba(0,0,0,0.4);
					&:hover {
						color: #fff;
						border-color: #fff;
						background: $clr-main;
					}
				}
			}
		}
	}
}

// Список товаров
.Lot {
	margin-top: $size-xl;
	@extend ._Fix;

	&:first-child {
		margin-top: 0;
	}

	& header {
		border-bottom: 1px $clr-grey-light  dashed;
		padding-bottom: $size-s;
		margin-bottom: $size-s;
		@extend ._Fix;


		& p {
			font-size: 12px;
			clear: both;
		}

	}

	.Lot-About {
		p {
			font-size: 14px;
		}
		&
		& > h6 {
			font-size: $Font-Size-Large;
			margin-top: $size-n;
			padding-bottom: $size-xs;
			border-bottom: 1px dashed $clr-grey-light;
		}
		& > table {
			width: 100%;
			& tr {
				& td {
					padding: $size-xs $size-s;
					font-size: 14px;
				}
			}
		}
	}
}

// Хлебные крошки
.Breadcrumbs {
	padding: 0!important;
	margin-bottom: -20px!important;
	background-color: white;
	@include Round(all);

	.Breadcrumb-List {
		padding: $size-s 0;
		@extend ._Inline;
		@extend ._No-Bullets;

		.Breadcrumb-Item {
			a    ,
			span {
				padding: $size-xs;
			}
			a:hover {
				background-color: $clr-grey-lighter;
			}
			&:before {
				padding: 0 $size-s;
				content: "/";
				@extend ._Unselectable;
			}
		}

		.Breadcrumb-Item:first-child {
			&:before {
				content: "";
			}
		}
	}
}

// Блок Пагинации
.Pagination {
	border-left: 4px solid $clr-main;
	@extend ._Fly-Out;
	@extend ._No-Bullets;
	@extend .Inline;
	@extend ._Fix;
	& > li {
		margin-top: 0 !important; // Наследование .Node подразумевает margin-top каждого вложенного элемента. Убираем
		margin-right: 1px; // Разлипаем прямоугольники страниц
		& > span,
		& > a {
			color: #fff;
			display: block;
			padding: $size-s $size;
			background-color: $clr-grey-darker;
		}
		&:hover > span {
			cursor: default;
		}
		&:hover > a {
			background-color: $clr-grey-dark;
		}
		&.disabled > span {
			color: $clr-grey-dark;
		}
		&.active > span {
			background-color: $clr-main;
		}
		li.Pagination-Caption {

		}
	}
}

.Sidebar-Filter {
	a.Active {

		color: white;
		background-color: $clr-grey-darker;
	}
	& > h4 {
		font-size: 20px;
		font-weight: 100;
		margin-top: $size;
		margin-bottom: $size-xs;
		&:first-child {
			margin-top: 0;
		}
	}
	& > ul {
		margin-right: $size-xl;
		font-family: $Font-Family-Calibri;
		& > li {
			& > a {
				display: block;
				padding: $size-xs;
				border-top: 1px dashed $clr-grey;
				font-size: 13px;
				font-weight: 900;
				color: black;
				&:hover {
					background-color: $clr-grey-light;
				}
			}
			&:first-child a {
				border: 0;
			}
		}
	}
}

// Список категорий
.List-Categories {
	li {
		padding: $size-s 0;
		@extend ._Fix;
		a {
			font-size: $Font-Size-Small;
			display: inline-block;
		}
	}
	&.Icons {
		a {
			padding: $size-s 0;
			font-size: $Font-Size-Default;
			width: 100%;
			text-align: center;
		}
		img {
			vertical-align: middle;
			display: block;
			width: 90%;
			margin: 0 auto;
		}

	}
	&.Brands {
		img {
			width: 50px;
		}
	}
}

// Блок комментариев
.Comment {
	.Comment-List {
		@extend ._No-Bullets;
		@extend ._Vertical-Spacing;
		li {
			&:first-child {
				margin-top: 0;
			}

			.Comment-List-Element-Rating {
				float: left;
				margin-right: $size-l;
				color: $clr-grey;
				& > span {
					display: block;
					margin: 0 auto;
					text-align: center;
				}
			}
			.Arrow {
				visibility: hidden;
				cursor: pointer;
				img {
					display: block;
				}
			}
			&:hover .Arrow {
				visibility: visible;

				.Positive {
					color: $clr-green;
				}
				.Negative {
					color: $clr-red;
				}
			}

			.Comment-List-Element-Content {
				overflow: hidden;

				header {
					@extend ._Fix;

					h5 {
						@extend ._Left;
					}

					small.Date {
						@extend ._Right;
						color: $clr-grey;
					}
				}
				p {
					width: 75%;
				}
			}
		}

	}
	& > form {
		margin-top: $size-xl;
	}
}

// Блок футера
footer[role='contentinfo'] {
	height: $footer-height;

	background: white;
	border-top: 1px solid #e1e1e1;
	& > div {
		padding: $size-l 0;
		@extend ._Fix;
		@extend ._Centrated;
		@extend ._Section-Inner;
		.Copyright {
			@extend ._Left;
		}
		.Footer-Navigation {
			@extend ._Right;
			width: 37%;
			ul {
				@extend ._No-Bullets;
				@extend ._Inline;
				li {
					margin-left: $size;
					a {
						color: black;
						padding-bottom: $size-xs;
						border-bottom: 2px solid transparent;
						&:hover {
							color: $clr-main;
							border-color: $clr-main;
						}
					}
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}
}

.Category-List {
	@include Animation(FadeIn,1s,0.3s);
}

.Rent-List {
	@include Animation(FadeIn,1s,0.5s);
}

.Filter-Regions {
	li {
		a {
			display: block;
			padding: $size-xs 0
		}
	}
}

.Filter-Categories {
	li {
		a {
			display: block;
			padding: $size-s 0;
		}
	}
}

// Список арендаторов в 2 строки на главной странице
.News-List   ,
.Seller-List {
	@extend ._Vertical-Spacing;

	li.News-Item   ,
	li.Seller-Item {
		padding-right: $size-xl;

		header {
			margin-bottom: $size-s;
			border-bottom: 1px $clr-grey dashed;
			padding-bottom: $size-s;
			@extend ._Fix;
			h5.Title {
				display: block;
				float: left;
				width: 85%;

				a {
					font-size: $Font-Size-Large;
					text-transform: uppercase;
				}
				.News-Date       ,
				.Seller-Location {
					display: block;
					clear: both;
					font-size: $Font-Size-Micro;
				}
			}


			.Rating {
				width: 15%;
				float: left;
				text-align: right;
				color: $clr-grey;
			}

		}
		.Description {
			font-size: 14px;
			img {
				width: 100%;
				margin-bottom: $size;
				@include Round(all);
			}
			& > div {
			}
		}

		//@fixme Наплодил "фич", блин.
		&:last-child {
			padding-right: $size-xl;
		}
	}
}
.Snippet-List {
	@extend ._Vertical-Spacing;
	@extend ._No-Bullets;

	.Snippet-Item {

		header {

			.Item-Category ,
			.Item-Location {
				padding: 0;
			}
		}
	}
	.Item-Gallery {
		& > img {
			width: 100%;
		}
	}
}
.Snippet-Item {
	@extend ._Fix;

	header {
		margin-bottom: $size;
		@extend ._Fix;

		.Item-Title {
			margin: $size-xs $size-s 0 0;
			display: inline-block;
			max-width: 55%;
			text-transform: uppercase;
			font-size: 20px;
			@extend ._Fix;
			@extend ._Left;

			a {
				display: block;
				color: $clr-main;
				&:hover {
					color: $clr-main;
				}
			}
			.Item-Category ,
			.Item-Location {
				float: left;
				text-transform: none;
				font-size: 12px;
				font-weight: 100;
				color: $clr-grey-dark;
			}
		}
		h4 				,
		.Section-Header {
			float: left;
		}

		.Item-Values {
			display: inline!important;
			width: 45%;
			color: white;
			margin-right: -$size-xl;
			float: right;
			background: linear-gradient(to left, $clr-main, $clr-main-lighter);

			@include Round(diagonal);
			@extend ._No-Bullets;
			@extend ._Inline;

			li {
				padding: $size-s $size-s;
				h6 {
					margin: 0;
					font-size: 12px;
					font-weight: 100;
				}
			}
		}
	}
	.Item-Gallery {
		padding-right: $size-l;
		@extend ._Left;
		@extend .Grid-Node-2-5;

		img.Item-Main-Photo {
			@include Round(all);
			@extend ._Fit-Row;
			@extend ._Highlight;
		}

		ul {
			@extend ._No-Bullets;
			@extend ._Inline;

			li {
				width: 30%;
				margin-left: 5%;

				&:first-child {
					margin-left: 0;
				}

				img {
					display: block;
					width: 100%;
					@include Round(all);
					@extend ._Highlight;
				}
			}
		}
	}

	.Item-Photo {
		margin-bottom: $size-l;
		padding-right: $size-l;
		@extend ._Left;
		@extend .Grid-Node-2-5;

		img {
			width: 100%;
			@include Round(all);
		}
	}

	.Item-Content {
		margin-bottom: $size-l;
		font-size: 14px;

		@extend ._Right;
		@extend .Grid-Node-3-5;

		h6 {
			margin: $size-s 0 $size-xs;
			font-size: 18px;
		}

		p {
			& + p {
				margin-top: $size-n;
			}
		}
		table {
			font-size: 14px;
			border-top: 1px dashed $clr-grey-light;
			width: 100%;
			tr {
				td {
					padding: $size-xs 0;
				}
			}
		}
	}

	.Item-Info {
		clear: both;
		padding: $size-s 0;
		border-top: 1px dashed $clr-grey-dark;
		color: $clr-grey-dark;
		font-size: $Font-Size-Micro;
		.Date {
			padding: $size-xs 0;
			margin: 0 $size-l $size-s 0;
			@extend ._Left;
		}
		.Tags {
			@extend ._Left;
		}
	}
}

// @todo: вывести код готовых блоков-заготовок в отдельный файл
ul.Tag-List {
	@extend ._Fix;
	@extend ._Inline;
	@extend ._No-Bullets;

	li.Tag-Item {
		margin-right: $size-s;
		a {
			display: inline-block;
			padding: $size-xs $size-s;
			background-color: $clr-grey;
			color: white;
			font-size: 12px;

			@include Round(left);
			&:hover {
				background-color: $clr-grey-dark;
			}
		}
	}
}

.List-Filter {
	$icon-width: 12px;
	$icon-spacing: $size-xs;
	@extend .No-Bullets;

	li.List-Filter-Subheader {
		@extend ._Fix;
		div {
			width: 10%;
			float: left;
			img {
				padding: $size-xs 0;
				margin: $size-xs 0 0;
				width: $icon-width;
				float: left;
				cursor: pointer;
				&:hover {
					@include Opacity(.75);
				}
			}
		}

		a {
			width: 90%;
			float: right;
		}
	}

	li.List-Filter-Subcategory {
		ul {
			margin-left: $icon-width + $icon-spacing;
			margin-bottom: $size;
			@extend .No-Bullets;
			li {
				a {
					display: inline-block;
					padding: $size-xs 0;
					font-size: .7em;
				}
			}
		}
	}
}
.Menu-List {

	ul {
		@extend ._No-Bullets;

		li {
			padding: $size-s 0;
		}
	}
}
@include Keyframes(FadeIn) {
	from {
		@include Opacity(0);
	}
	to {
		@include Opacity(1);
	}
}
@include Keyframes(SlideUp) {
	from {
		@include Opacity(0);
		top: 300px;
	}
	to {
		@include Opacity(1);
		top: 0;
	}
}


@media all and (max-width: 1024px) {
	* {
		border-radius: 0!important;
	}
	.Node {
		padding: 15px;
	}
	.Page-Navigation > ul > li > a {
		font-size: 12px;
	}
	.Section-Header	,
	.Section-Subheader {
		margin-left: -15px;
		border-radius: 0;
	}
	.Snippet-Item header {
		margin-bottom: 10px!important;
	}
	.Item-Title {
		max-width: 100%!important;
	}
	.Item-Gallery {
		padding-right: 0!important;
		width: 100%!important;
	}
	.Item-Gallery {
		.Item-Main-Photo {
			width: 100%!important;
			margin-bottom: 10px!important;
		}
	}
	.Item-Content {
		margin-top: $size;
		width: 100%!important;
	}

	.Item-Values {
		width: 100%!important;
		margin-top: 15px;
		margin-right: 0!important;
	}
	._Section-Inner {
		width: 95%!important;
	}
	._Fly-Out {
		margin-left: -15px;
	}
}