// 768px +
@media all and (min-width: $Screen-Size-Tiny) {
	.Node {
		@include 			Round(all);
	}

	.Site-Logo div h2 {
		font-size: 22px;
	}
	.List.Snippets header {
		position: relative;
	}
	.List.Snippets .Title {
		display: block;
		width: 100%;
		padding-right: 110px;
		float: left;
	}
	.Vote {
		margin-top: 0;
		width: 90px;
		position: absolute;
		top: $size-s;
		right: $size-s;
	}
	.Vote-Up {
		@include Round(right, $Control-Border-Radius);
	}
	.Vote-Down {
		@include Round(left, $Control-Border-Radius);
	}
	li.List-Item {
		@include Round(all, $Control-Border-Radius);
	}
	.Snippet-Item {
		@include Round(all, $Control-Border-Radius);

	}
	.Filter-Subcategory ul li {
		float: left!important;
		font-size: 14px;
		width: 50%;
	}

}
@media all and (min-width: $Screen-Size-Small) {

	#Menu-Toggle {
		display: none;
	}

	.Site-Header {
		height: 80px;
	}
	.Site-Header-Inner {
		width: 100%;
		padding: 0 $size-l;
	}
		.Site-Logo {
			display: inline-block;
			width: 35%;
		}
		.Site-Navigation.Primary {
			float: left;
			width: 50%;
			display: block!important;
			.Menu-List {
				li {
					border-top: 0;

					.Menu-Link {
						color: $clr-grey-dark;
					}
				}
			}
		}


		ul.Menu-List {
			li {
				width: auto;
				display: inline-block;
				float: left;
				margin-left: $size-n;
			}
		}

		a.Menu-Link {
			padding: $size-l $size-xs $size-s;
			border-top: 0;
			font-size: 15px;
			color: black;
			&:hover,
			&.Link-Active {
				background-color: transparent;
				border-color: $clr-main;
				color: $clr-main;
			}
		}


		.Page-Auth {
			float: left;
			width: 15%;
			padding: 0 $size-s;
			margin:0;

			& > .Button {
				margin-top: 2px;
				float: none;
				width: 100%;
				margin-left: 0;
			}
		}
	#Page-Slider {
		display: block;
		clear: both;
		overflow: hidden;
		margin-bottom: 50px;
		height: 250px;
		background-image: url(../../../../img/techonline/banner-background.jpg);
		background-position: center 0;
		background-repeat: repeat;
		background-attachment: fixed;
		box-shadow: 0 0 20px rgba(0, 0, 0, .4) inset;

		.Slider-Inner {
			position: relative;

			#Truck {
				width: 360px;
				top: 0;
				position: absolute;
			}
			#Slider-Links {
				position: absolute;
				top: 50px;
				left: 400px;
				opacity: 1;
				a {
					margin-bottom: 10px;

					display: block;
				}
			}
		}
	}
}

// 1280 x 720 HD
@media all and (min-width: $Screen-Size-Default) {
	.Node {
		padding: $size-l;
	}

	a.Menu-Link {
		font-size: 16px;
	}
}

// 1920 x 1080 Full HD
@media all and (min-width: $Screen-Size-Large) {
	.Site-Logo {
		width: 25%;
	}
	.Site-Navigation {
		width: 70%;
	}
	.Page-Auth {
		margin-top: $size-s;
		width: 25%;
		& > .Button {
			width: 47.5%;
			padding: $size-s 0;
		}
	}
	.Menu-List {
		margin-top: $size-s!important;
		li {
			.Menu-Link {
				font-size: 20px;
				padding: $size-n $size-l;
			}
		}
	}
	img.Footer-Img {
			 display: block;
	}
	.Filter-Subcategory ul li {
		width: 33%;
		a {
			font-size: 13px;
		}
	}
}

// 2560 x 1440 Ultra HD
@media all and (min-width: $Screen-Size-Huge) {
	.Node {
		padding: $size-xl;
	}
	.Site-Header-Inner {
			 width: $Section-Width-Huge;
	}
}